[2014-09-17 19:06] traleluia opened #24 "UITableViewController"
Not working when called inside a UITableViewController

[2014-10-09 20:22] robmontesinos opened #26 "UITextField Delegate"
Great work on this component.

Is there anyway to expose the TextField delegate for input verification?

[2014-10-16 21:50] sean-hill opened #27 "How to use in a navigation controller"
Hey there, I've got a table view controller I'm passing in as "self" for the alert view. However, this table view controller is nested in a navigation controller, so when the alert view shows up, the navigation bar is not darkened and the alert view is centered between the bottom of the device and the navigation bar, not the top of the device.

How do I solve this?

[2014-10-20 19:23] NitWitStudios opened #28 "Compile Error for Swift"
I attempted to install this library as a pod, and get these errors right away when compiling
![screen shot 2014-10-20 at 12 20 39 pm](https://cloud.githubusercontent.com/assets/1779541/4707531/813e5960-588e-11e4-98ba-c8a841142049.png)

[2014-10-21 16:44] sean-hill opened #29 "If you add multiple buttons, the view doesn't auto center itself"
When the modal is presented, it doesn't update it's Y position to account for the number of buttons that were added so that it stays centered in the screen.

[2014-10-30 12:30] ingouackaz opened #32 "Problem with shadowView in landscape mode"

[2014-11-05 05:06] deanq opened #33 "subtitle gets cut off in a certain specific way"
There's something about the character count or word wrapping that causes this.
`Unable to determine your location` is shown as `Unable to determine your`

Trying these two will display exactly as intended though:
`Unable to determine your locatio`
`Unable to determine your location.`

[2014-12-14 11:20] eriktelepovsky opened #34 "Alert with one button and custom close text"
Hi. First of all, thank you for great alert view! I'm trying to create alert view with one action button and one close button with custom text, but I can't achieve that. I can do it separately: alert view with one action button and with "Done" close button text or an simple alert without action button with my own custom close text. But how to make both of them? Thank you.

[2015-01-18 13:45] cloud-hot opened #38 "It does not work when use the AlertView in the present ViewController"
When i use the SCLAlertView in the presented ViewController it will  not work.

And then i change the code from:

[code]
to

[code]
then it works!

[2015-01-18 13:49] daviddelmonte commented on #38
My sight is not so good, but the statements look identical.

On Jan 18, 2015, at 8:45 AM, wenjiez <notifications@github.com> wrote:

When i use the SCLAlertView in the presented ViewController it will not work.

And then i change the code from:

let rv = UIApplication.sharedApplication().keyWindow.subviews.last as UIView
to

let rv = UIApplication.sharedApplication().keyWindow.subviews.last as UIV

[2015-01-19 00:01] cloud-hot commented on #38
Sorry, i have updated the comment. Thanks!

[2015-01-23 13:43] Rameshv commented on #28
@vikmeup still its not resolved. But there seems to be a workaround according to the post https://github.com/CocoaPods/CocoaPods/issues/2226#issuecomment-55279647

As per the post

[code]

[2015-01-24 08:26] vikmeup commented on #28
@Rameshv I wish I had Xcode 5 installed.

[2015-01-24 08:46] Rameshv commented on #28
@vikmeup oops thats a bummer :(

[2015-02-03 20:57] decao opened #39 "Impossible to dismiss keyboard on 3.5 inches devices"
If you add a Text field to a alert, it becomes impossible to dismiss the keyboard on small devices like iPhone 4 and 4s, since the only way to resign the keyboard is by pressing a button on the alert.

![ios simulator screen shot feb 3 2015 18 55 56](https://cloud.githubusercontent.com/assets/3464383/6029243/638af5d6-abd6-11e4-843a-905fb45ffd57.png)

[2015-02-03 21:51] decao commented on #39
![ios simulator screen shot feb 3 2015 19 50 59](https://cloud.githubusercontent.com/assets/3464383/6030342/0723bd7a-abde-11e4-9147-e6e2ea222cb7.png)

Here is a screenshot showing the error on the provided example.

[2015-02-04 00:10] decao commented on #39
So here is how i "Solved" the problem:

Create a textField as a global, so you can access from other places.

Create a function to handle a tap gesture, that checks if the textField is a firstresponder, and them calls textField.resignFirstResponder().

Create a Tap gesture, that calls the function, and add the the tap gesture to the SCAlertView().

[2015-02-04 08:53] marcpages opened #40 "BAD_ACCESS on button tap"
Hi, I've opened your example project and when I tap any button it throws an exception `EXC_BAD_ACCESS` into `class AppDelegate: UIResponder, UIApplicationDelegate {`. What I am doing wrong?

Thanks.

[2015-02-05 23:12] Rogog commented on #28
Had the same issue as original comment on xcode 6.1.1, latest Cocoapod, tried to copy the file over and that failed also.

[2015-02-06 00:01] MHaroonBaig commented on #28
I think you should release it via Cocoa Pods beta. It started supporting Swift as of now.

[2015-02-08 20:57] Rogog commented on #28
Tried with Cocoa Pods beta which alledgly does support swift.  The alert is still not working.  Any advice?

[2015-02-11 00:11] Rogog opened #41 "Only able to make it work on initial view controller"
Hi

Firstly, thank you for this alert view.  I really like it!

I am having an issue however with it that.

1.  When the alert view is presented in the initial view controller - ALERTS WORK!
2. When the user goes through the view controllers - ALERTS NO LONGER WORK :(

Could you advise a novice developer as to why and what I should be looking out for?

[2015-02-20 11:22] bbdevelopment commented on #28
I would like to get an update on this as well.  would really like to use this in my current project but getting the above errors.  I am using the pod beta and have no problems with any of the other swift installs.

[2015-02-26 22:23] AnthonyMDev commented on #28
These are just some issues with changes to the Swift syntax with Swift 1.1.

Its incredibly easy to fix. @vikmeup, would you like me to submit a pul request, or is this getting done soon?

[2015-02-26 22:26] vikpower commented on #28
@AntonyMDev, please do! Thanks

[2015-02-26 22:33] AnthonyMDev commented on #28
@vikmeup , @vikpower
Actually, after forking the repo, I realized that the problems have been fixed, you just need to push a new version with the fixes up to the CocoaPods Master Repo.

Do you need help with that, or can you get that taken care of?

[2015-02-26 22:36] vikmeup commented on #28
@AnthonyMDev I would push it tonight, but if you have chance, please do! Thanks.

[2015-02-26 22:37] AnthonyMDev commented on #28
Well, I don't have the credentials to push to your Pod Trunk, so you have to do it. Just wanted to make sure you knew the process.

[2015-02-27 06:46] vikmeup commented on #28
@AnthonyMDev could you check if it works now? I updated podspec for version 0.3.1 and did `pod truck push`

[2015-02-27 06:50] vikmeup commented on #39
@decao should I close this issue?

I do not think it would be perfect solution, it should be handled inside SCAlertView. Feel free to send Pull request

[2015-02-27 06:52] vikmeup commented on #40
What version of Xcode do you use?

[2015-02-27 06:53] vikmeup commented on #26
@robmontesinos I will close this issue, unless you would like to extend TextField functionality. Thanks

[2015-02-27 06:53] #26 closed

[2015-02-27 06:53] #24 closed

[2015-02-27 07:21] robmontesinos commented on #26
Thanks @vikmeup - no problem. Unfortunately I am swamped with work. All the best!

[2015-02-27 08:25] marcpages commented on #40
Version 6.1.1 (6A2008a)

[2015-03-08 09:51] nadirov commented on #41
having the same issue. Temporary solution was importing SCLAlertView-ObjectiveC

[2015-03-10 23:52] mrctito commented on #41
I have the same issue.

Please, how do I import and use  SCLAlertView-ObjectiveC in my swift project?

Thank you!

[2015-04-01 14:20] juliengdt opened #46 "Carthage Integration"
All is in the title: Cocoapods is good but many developers are migrating from pods to carthage:

https://github.com/Carthage/Carthage

If i try to 'carthage' it into my Cartfile with "github "vikmeup/SCLAlertView-Swift" " and it show me:

       Project "SCLAlertViewExample.xcodeproj" has no shared schemes
       If you believe this to be an error, please file an issue with the maintainers at http

[2015-04-06 23:16] adamdahan opened #47 "CocoaPod installation that targets platform ios 8.0. Completely broke my project."
I tried to integrate your project via your pod installation instructions. Completely broke my project. Uninstalled your pod and everything went back to normal.

[2015-04-06 23:20] adamdahan opened #48 "Examples in read me throw compile errors"
Your examples of usage also throw compile errors

Here is an example of one:
SCLAlertView().showNotice(self, title: "Hello Notice", subTitle: "This is a more descriptive notice text.") // Notice

This error is: Missing argument for parameter coder in call.

[2015-04-06 23:33] adamdahan opened #49 "Examples project doesn't even launch."
Your example project doesn't even launch.

[2015-04-07 08:30] vikmeup commented on #49
What version of Xcode do you use?

[2015-04-08 16:38] adamdahan commented on #49
Xcode 6.2. Just the latest public release version.

[2015-04-08 17:29] pekpon commented on #48
+1

[2015-04-09 12:24] prine commented on #46
Yeah, Carthage support would be nice!

[2015-04-09 16:35] digitaldesaster commented on #49
yes, unfortunately it does not work at all

[2015-04-10 12:17] digitaldesaster commented on #49
upgrading to Xcode 6.3 and clean the build before compiling did helped..

[2015-04-10 13:41] digitaldesaster opened #51 "Standard Button always hides the AlertView?"
Hi, i cant find an option to change the behavior of the standard button. What i want to achieve is an alertview with only one button and an custom action.

thanks in advance

[2015-04-11 04:29] vikmeup commented on #49
@adamdahan, please use Xcode 6.3

[2015-04-11 04:29] #49 closed

[2015-04-12 11:03] willsr commented on #38
This occurs for me as well. But only when using a transition manager.

[2015-04-14 13:16] kesar commented on #47
Are you using swift 1.2 ? It seems that cocoaPod is not updated

[2015-04-15 16:28] gbertb commented on #41
May want to look into this https://github.com/vikmeup/SCLAlertView-Swift/issues/38

[2015-04-19 15:18] cqin5 commented on #38
@cloud-hot I had the same issue as you did and your fix works perfectly for me, thank you!

[2015-04-21 14:31] aradhell opened #52 "Use of unresolved identifier 'SCLAlertView'"
Hi,
 Installed via Cocoapods and Podfile , (gem install cocoapods --pre Fetching: cocoapods-core 0.37.0.beta.1.gem (100%)) xCode Version 6.3 (6D570)

--
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!
pod 'SwiftHTTP', '~> 0.9.4'
pod 'JSONJoy-Swift', '~> 0.9.2'
pod 'SCLAlertView'

SwiftHTTP and other is working but SCLAlertView cudnt resolved, Use of unresolved

[2015-04-22 05:45] cloud-hot commented on #38
@vikmeup , could you help check whether this is a bug or has it been fixed on the new version? Thanks!

[2015-04-22 09:15] kesar commented on #52
I dont know if this is going to solve your problem, but I am using:
[code]

[2015-04-23 22:42] x8b opened #53 "no fading when tapping 'Done' (double calling 'hideView' method) & odd Circle Position"
Hello,

First of all, thank you so much for your great work.

- - -

It seems 'hideView' method called twice when the 'Done' button tapped. Due to that 'double function calling' the fading animation always cancels as I titled this issue. It happens not only in my project but in SCLAlertViewExample project as well. Please have a check.

Another one, I found the Y positions of _CircleView & CircleBG

[2015-04-27 00:16] vikmeup commented on #53
@x8b could you submit your PR.

[2015-04-28 04:36] sergiot commented on #52
@kesar, it does help. Thanks.

[2015-04-28 20:35] fdorado985 opened #56 "Doesn´t work with Xcode 6.3.1"
I updated to Xcode 6.3.1 and i get 7 errors...
I supposed that is for the new version of Swift
Could you or someone take a look?
![captura de pantalla 2015-04-28 a las 3 56 44 p m](https://cloud.githubusercontent.com/assets/10659046/7380167/a21c030a-edbf-11e4-87ad-7ab0e9e37011.png)

[2015-04-28 21:07] fdorado985 commented on #56
I fix two of them...

The last one... i only wrote a ! instead of ? for the downcast...

And the third one, the method changed... but the another ones i do know how to fix that constructors of init

[2015-04-29 05:23] vikmeup commented on #56
@fdorado985 I would be able to fix this next week, unless you would like to send your pull request with changes to Swift 1.2. Thanks

[2015-04-29 12:41] confile opened #57 "Add Image to SCLAlertView"
It would be great the add an ImageView to the SCLAlertView.

[2015-04-30 04:42] maxelbert commented on #56
@fdorado985 You might find [this answer](http://stackoverflow.com/questions/29031270/initializer-does-not-override-a-designated-initializer-from-its-superclass) and [this answer](http://stackoverflow.com/questions/28771896/overriding-method-with-selector-touchesbeganwithevent-has-incompatible-type) useful. Here are the changes I made to clear the errors:

[code]
[code]
[code]
The last issue just r

[2015-04-30 11:40] alexcosmin commented on #51
Did you find out if this is possible? I am interested in the same thing.

[2015-04-30 13:46] fdorado985 commented on #56
Hi @maxelbert  somebody made a pull request i guess, i supposed it was you, i did exactly that, and i didn't have issues, it works for me, thank you so much

[2015-05-06 20:58] captainchung commented on #56
I still got those compile errors.  was the pull request not made?

[2015-05-07 04:30] vikmeup commented on #56
@captainchung could you verify getting from master branch?

https://github.com/vikmeup/SCLAlertView-Swift/pull/50 this should fix it.

[2015-05-07 12:52] captainchung commented on #56
I see, I had assumed the pod spec was pointing to the latest in the master
branch where it is actually pointing to 0.3  .  Thanks for responding.

On Wed, May 6, 2015 at 9:30 PM, Viktor Radchenko <notifications@github.com>
wrote:

--
Regards,
Matt

[2015-05-11 18:29] amjohnno opened #59 "AlertView without the default button"
Is it possible to show an AlertView with just one button that performs a function?

As far as I can tell, I can't get rid of the default "Done" button, which only seems to allow me to close the alert. If possible, I would like this Done button to either allow me to segue when pressed, or to be hidden completely so that I can use a custom button to perform this function.

Thanks.

[2015-05-12 20:39] taylorfriesen opened #60 "Cocoapods Version Out of Date"
The most recent version of SCLAlertView-Swift on Cocoapods is 0.3.1, which suffers from issue #56 - not being updated to support Swift 1.2. The master branch (which is tag 0.3.2) includes the required fixes, and so it would be great if the Cocoapods version could be updated to match the latest master.

[2015-05-16 14:57] x140yu commented on #51
I need the same thing

[2015-05-17 00:20] SahandTheGreat opened #61 "Alert view does not show up when view controller is loaded twice"
Basically the first time it works but the second time it doesnt

[2015-05-22 12:13] alec-c4 commented on #46
+100500

[2015-05-26 05:06] vikmeup commented on #46
@juliengdt closed by https://github.com/vikmeup/SCLAlertView-Swift/pull/62

[2015-05-27 19:44] adamdahan opened #64 "This doesn't work at all in latest version of Swift 1.2"
Just try to run the code it's a no go.

Give this a shot as an example: ->
        SCLAlertView().showInfo(self, title: "Hello Info", subTitle: "This is a more descriptive info text.") // Info

Taken directly from your git read me

[2015-05-29 07:31] tbaranes commented on #60
I agree. I'm targeting directly your latest release:
`pod 'SCLAlertView', :git => "https://github.com/vikmeup/SCLAlertView-Swift.git", :tag => "0.3.2"`

but it will be better to have a pod up to date

[2015-06-05 21:43] kesar commented on #64
This would work:
[code]

[2015-06-05 21:52] kesar commented on #59
:+1:

[2015-06-05 21:59] ncerezo commented on #59
This is already possible. My pull request was accepted a few days ago and it had this feature:

    let alert = SCLAlertView()
    alert.showCloseButton = false

That's it.
So this issue should be closed.

I plan to add the ability to set a closure to be run when the view is closed. That would allow to use the default close button when you need it to perform certain functions.
However, showCloseBu

[2015-06-05 22:28] kesar commented on #59
it has a typo:
```showCloseButtton```

[2015-06-05 22:30] kesar commented on #39
This is happening also if the keyboard was already opened

[2015-06-05 22:31] ncerezo commented on #59
You're right!
Thanks for pointing out.
I'll send a new pull request.

[2015-06-08 12:41] ZaidPathan commented on #56
Is it working now, so that I can integrate it in my project?

[2015-06-09 06:53] deezaster commented on #39
@decao could you show me your code?

[2015-06-09 20:13] tonymwinters commented on #51
```alert.showCloseButton = false```

[2015-06-10 18:18] deezaster commented on #39
ok, i solved the problem with an extension:

[code]
And here the code how to use it:
[code]

[2015-06-11 18:26] rizwan95 commented on #52
I am having the same problem and the solution doesn't work for me.

[2015-06-11 18:53] rizwan95 opened #67 "Argument 'subTitle' must precede 'title'"
I am getting the following error "Argument 'subTitle' must precede 'title' "

My code is correct only , and here is the snippet,

let alert = SCLAlertView()
                alert.addButton("First Button", target:self, selector:Selector("firstButton"))
                alert.addButton("Second Button") {
                    println("Second button tapped")
                }
                alert.showS

[2015-06-11 22:17] ncerezo commented on #67
showSuccess (and the rest of showXXX functions) accept a first parameter (unnamed) for title, then subTitle, and then other optional parameters.

So your code should be:
[code]

[2015-06-13 05:22] bokuwabokudayo opened #68 "new feature: add image in alertview"
can scl add image in alert view?
or will you have plan to add new feature?

[2015-06-14 07:19] amjohnno opened #69 "boundingRectWithSize issue since converting to Swift 2.0"
I've converted my app to Swift 2.0, which hasn't gone very successfully so far! I'm getting one issue with SCLAlertView with boundingRectWithSize in the following code:

    // Subtitle
    if !subTitle.isEmpty {
        viewText.text = subtitle
        // Adjust text view size, if necessary
        let str = subTitle as NSString
        let attr = [NSFontAttributeName:viewText.font]
        let s

[2015-06-15 19:22] isair commented on #28
@vikmeup Could you push the latest podspec file as well? 0.4 isn't available through Cocoapods.

[2015-06-16 02:22] vikmeup commented on #28
@isair Thanks. Just pushed it!

[2015-06-16 02:22] #28 closed

[2015-06-16 02:23] vikmeup commented on #60
Updated.

[2015-06-16 02:23] #60 closed

[2015-06-16 02:23] vikmeup commented on #56
Updated.

[2015-06-16 02:23] #56 closed

[2015-06-16 05:05] ZaidPathan commented on #56
Ok.thanks.

[2015-06-16 09:22] vishnupillai9 commented on #69
I came across this too. You need to unwrap `viewText.font`. The argument `attributes` for `boundingRectWithSize` method should be of type `[String : UIFont]`. Since `viewText.font` is not unwrapped, `attr` is currently of type `[String : UIFont?]`.

[2015-06-16 13:27] amjohnno commented on #69
That's perfect. Thanks, @vishnupillai9.

[2015-06-16 13:27] #69 closed

[2015-06-22 14:11] mehmetvefa commented on #67
I had same problem and this is the solution. Thanks.

[2015-06-22 15:15] mehmetvefa opened #70 "Change default button text"
How can I change default button text? I am using default alert and I have a **DONE** button.

[code]

I want to change this button text without add any more button.

[2015-06-22 19:28] ncerezo commented on #70
If you Cmd+Click in the showError function in XCode it will take you to the function declaration.
There you can see that it takes up to 4 parameters, being the last two optionals.
So you can simply call it like:

[code]

It's really a good practice to take a look at the source code when in doubt, since you have access to it :)

[2015-06-22 22:15] cvburgess opened #71 "Custom style"
having a custom style with a custom icon/color would be great

similar to https://bitbucket.org/sprygroupllc/sclalertview

[2015-06-23 07:47] #70 closed

[2015-06-25 03:21] kamoljan opened #73 "Any plan to support Swift 2 and Xcode7?"

[2015-06-26 13:53] hons82 commented on #59
If you import it using Cocoapods it will not be accessible right now. You'd need to update it with public
[code]

[2015-06-26 13:54] hons82 opened #74 "Buttons not clickable after orientation change"
Hi,
I just found a strange behaviour if I use it with more than 1 button.
When I change orientation after the Alert is shown only the first button remains clickable.

~Hons

[2015-06-27 15:58] ivangodfather commented on #59
but if you make it public you have an error when dismissing, unrecognizer selector...

[2015-06-27 15:59] ivangodfather commented on #59
@ncerezo @hons82  any ideas?

[2015-06-27 17:19] hons82 commented on #59
Yes? Where u get that?
On which method call?!?
Cocoapods or manual installation?

~hons

[2015-06-27 17:58] ivangodfather commented on #59
Cocoapods

Iván

[2015-06-27 18:39] ivangodfather commented on #59
I can't reproduce it like before, dunno why, its getting me to app delegate failure, btw i dont like modifying my pods manually changing the scope of a var to public since in a future realase when i update my changes will be overwriten. Im thinking using objc version with bridging header since that version hasnt got this problem.

[2015-06-28 07:35] ivangodfather commented on #59
@hons82 have you looked at it?

[2015-06-29 05:58] hons82 commented on #59
Yes, but I don't c the problem. Of course you should change the pod... the author needs to do that, if he likes to. It's not the only possibility to make that accessible.
He could ad a setter like function for it or provide only the setter in public [(similar ashere)](http://stackoverflow.com/questions/25708439/swift-readonly-external-readwrite-internal-property)

For the bridging header... this w

[2015-06-29 06:23] ivangodfather commented on #59
Yes, i am using swift pods with use_frameworks!

On 29 June 2015 at 07:58, Hannes <notifications@github.com> wrote:

--
Este mensaje se dirige a su destinatario y puede contener información
confidencial sometida a secreto profesional o cuya divulgación esté
prohibida por la Legislación Vigente. Cualquier persona distinta a su
destinataria tiene prohibida su reproducción, uso, divulgación o impresi

[2015-07-04 09:29] frantzmiccoli opened #76 "Using showCloseButton raises an EXC_BAD_ACCESS error once tapping a button"
### Reproduciblity

I have been experiencing this in one of my project and been able to reproduce this just starting from the simple "Single View Application template", adding a button and connecting it to the IBOutlet below:

[code]

I have been using the last revision e8fd6756722bc460d96cde2c90a833e20e943a2d installed through CocoaPods. The Podfile is:

[code]

### Environment

The problem has b

[2015-07-04 09:33] frantzmiccoli commented on #59
FYI I have used the last revision by tweaking my Podfile to use a specific branch or commit.

To use a specific branch:

[code]

To target a specific revision:

[code]

Just know that **I have experienced an issue** using this feature, see #76.

[2015-07-04 09:41] ivangodfather commented on #59
ok, thx you, keep me updated!

[2015-07-04 11:07] frantzmiccoli commented on #76
By digging a bit more and enabling some debugging components. I got this:

[code]

The alertView memory seems to be released because no pointer are using it anymore...

This doesn't crash.

[code]

[2015-07-05 15:58] vikmeup commented on #76
Closed: https://github.com/vikmeup/SCLAlertView-Swift/pull/77

[2015-07-05 15:58] #76 closed

[2015-07-06 10:18] rkorimba opened #78 "Podfile update?"
Hi vikmeup, I'm integrating this using Cocoapods into a new app, and after running pod update everything was pulled in correctly, but did not include the recent changes that you merged. Is there an easy way to fix that?

[2015-07-07 13:46] frantzmiccoli commented on #78
Short term solution in a previous issue: https://github.com/vikmeup/SCLAlertView-Swift/issues/59#issuecomment-118492576

Mid term solution: update the pod. I was about to suggest this but I am working on a couple improvements and I think this can only be done by @vikmeup .

[2015-07-07 21:58] frantzmiccoli commented on #40
This should be fixed now. See #77 .

[2015-07-07 22:03] frantzmiccoli opened #81 "Inconsistency between completeText and closeButtonTitle"
While working on the documentation I have seen that some functions use the wording `completeText` while others use `closeButtonTitle`. I think that this is inconsistent and should be unified.

I can do the update if needed but I want to know what wording to pick.

In my opinion `completeText` seems the most appropriate, but if I had to pick I would be explicit that it is a button label and pick `c

[2015-07-08 11:11] #40 closed

[2015-07-09 11:38] rkorimba commented on #78
Thx :)

[2015-07-10 12:40] maail commented on #61
You should check out this issue. Might be related. That fixed it for me.

https://github.com/vikmeup/SCLAlertView-Swift/issues/38

[2015-07-15 19:03] allaire commented on #78
Yep, a pod update would be nice.

In the meantime, do `pod "SCLAlertView", :head`

[2015-07-15 19:06] allaire commented on #71
:+1: Any idea why the obj-c clone has more feature? different maintainers?

[2015-07-15 19:06] allaire commented on #71
Also, since you can include swift code in obj-c code, I don't understand why there's two projects side by side :)

[2015-07-15 19:15] allaire commented on #81
@frantzmiccoli does both do the same thing? Was it only to deprecate one in the future? If yes, we should add comments.

[2015-07-16 01:05] vikmeup commented on #78
Thanks you guys. Just pushed latest to 0.4.1

[2015-07-16 01:05] #78 closed

[2015-07-16 12:38] frantzmiccoli commented on #81
They do as far as I remember, one is just forwarded as the other into convenience functions.

[2015-07-18 07:35] vikmeup commented on #81
@frantzmiccoli I agreed with @allaire, we should add a deprecation comment first, and once 1.5 is out we should refactor functions naming.

[2015-07-18 07:36] vikmeup commented on #73
@kamoljan I do not have Xcode 7 yet installed, pull request are welcome. Thanks

[2015-07-18 14:01] allaire commented on #81
@vikmeup I also noticed that the objective-c version has a bit more feature. Do you think we should start backporting some? If so, which ones?

[2015-07-19 18:01] allaire commented on #81
@vikmeup Yeah go ahead, I'll try to also clean some GH issues. Thanks

[2015-07-21 18:30] ekyawthan commented on #39
Or Just subtract  y coordinate  from alert view  like
[code]

[2015-07-24 11:54] TJRoger opened #84 "Error occurred when creating new SCLAlertView"
Error message from XCode's lldb
[code]
Property initialed as
` var alert: SCLAlertView?`
Code block 1
[code]
Code block 2
[code]

[2015-07-24 12:13] TJRoger commented on #84
Sorry for misunderstood, I have used it on an async thread .UI updated shouldn't be done out of main thread

[2015-07-24 16:08] #84 closed

[2015-07-28 08:44] giacomopiva opened #85 "Custom colors"
How can I customize colors?

[2015-07-28 13:21] allaire commented on #85
Hi @giacomopiva,

See https://github.com/vikmeup/SCLAlertView-Swift/blob/master/SCLAlertView/SCLAlertView.swift#L315 there is `colorStyle` and `colorText` for each method.

[2015-07-29 11:02] orkunbaba opened #86 "ios 7.1 fatal error"
I use xcode 6.4 and when i run this code in ios 7.1 simulator this error becomes

for line 357
let rv = UIApplication.sharedApplication().keyWindow! as UIWindow

fatal error: unexpectedly found nil while unwrapping an Optional value

is any solution for ios 7.1

regards
Orkun

[2015-07-29 11:06] ncerezo commented on #86
This works for me with iOS7 and up:

    let rv = UIApplication.sharedApplication().keyWindow?.subviews.last as! UIView

[2015-07-29 11:08] ncerezo commented on #86
However, keyWindow shouldn't be nil.
My problem with that line is that it broke the view with iOS7 and landscape mode.

[2015-07-31 18:47] FezHacker opened #87 "How do I get the "closeButtonTitle" to not show up at all?"
How do I get the "closeButtonTitle" to not show up at all?

I am using the showWait and I dont want the closeButtonTitle at all.

- Thanks for the geart Alert Views

[2015-07-31 20:46] ncerezo commented on #87
showCloseButton = false

Narciso Cerezo

[2015-07-31 21:12] FezHacker commented on #87
How would I go about implementing that?

    var alert = SCLAlertView()
            alert.showWait("Saving", subTitle: "Saving your update", duration: 3)
            showCloseButton = false

[2015-07-31 21:33] ncerezo commented on #87
Sorry, I'm writing from my phone.

alert.showCloseButton = false

Before showing it.

Narciso Cerezo

[2015-07-31 21:37] FezHacker commented on #87
Thanks for all your help!

[2015-08-05 16:42] clearsitedesigns opened #89 "Request: Buttons Side By Side"
Is there a way to allow the buttons to be side by side?

[2015-08-05 18:13] devilbags opened #90 "Keyboard Hiding SCLAlertView"
First of all, Thank you for this great project.

One little problem: After adding textfield to the alert view, whenever keyboard pops up, it's blocking everything below the textview.

Any advice?

[2015-08-07 17:06] calvinchengx commented on #73
PR submitted for Swift 2/Xcode 7. Ref #91

[2015-08-17 19:07] cvburgess commented on #71
@allaire I think the point of this was to be a pure swift implementation so you can keep debugging and extending in one language across your project. But good point!

[2015-08-20 06:02] midhun73s opened #92 "no option to disable fly from top Animation"
Please add an option to disable the alert presenting animation.

Either add an animation interval parameter or a bool to enable or disable it

[code]

[2015-08-20 21:55] wieseljonas commented on #90
Same issue for me! Had to add some code to the classe to fix this. It's not the best solution but works for now

those two nofification in viewdidLoad

        NSNotificationCenter.defaultCenter().addObserver(self, selector: Selector("keyboardWillShow:"), name:UIKeyboardWillShowNotification, object: nil);
        NSNotificationCenter.defaultCenter().addObserver(self, selector: Selector("keyboardWi

[2015-08-21 14:55] ogezue commented on #73
XCode7 Swift2.0 shows errors:
<img width="265" alt="bildschirmfoto 2015-08-21 um 16 54 21" src="https://cloud.githubusercontent.com/assets/2361031/9411280/64a0902a-4825-11e5-85ec-f5ee1ae8f8bb.png">

[2015-08-26 01:59] zhiquan911 opened #93 "Run on iPad(landscape) have a bug"
![sclalert bug](https://cloud.githubusercontent.com/assets/4736643/9484000/05f03898-4bd9-11e5-9f1d-7ff85f1ce418.png)

    @IBAction func buttonPress(sendr : AnyObject) {
        SCLAlertView().showInfo("Important info", subTitle: "You are great")
    }

[2015-08-26 19:05] ogezue commented on #90
Solution from Wieseljonas has one bug: The event keyboardWillShow even fires if the keyboard is visible and the autosuggestion is used... this makes the view fading out of the screen...

[2015-08-29 08:10] zhiquan911 commented on #93
on ios7.0

[2015-09-09 04:01] jdgong commented on #71
@allaire I totally agree. I am writing in Swift but I have to convert to use the Objc version of this library just because they have more features, especially for customization. Is there a possibility that they can combine and maybe just make it two branches?

[2015-09-17 04:24] gvimlan95 opened #95 "Gives error when compiling code with Xcode 7 beta 6"
This is the error I m getting.
![screen shot 2015-09-17 at 12 23 43 pm](https://cloud.githubusercontent.com/assets/9544447/9924919/13743aae-5d37-11e5-9d38-deb07e3ff4d6.png)

[2015-09-17 16:55] mcvasquez commented on #95
I'm getting the same error using v0.4.1. I think this version does not support Swift 2, but v0.4.2 does. I'm waiting for the last version via cocoapods to test it out.

[2015-09-17 21:02] chriscohoat commented on #95
Using Swift 2 I've gotten v0.4.2 to compile successfully...I was seeing the same thing you guys were.

My Podfile has this line:

```pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git'```

[2015-09-18 05:11] mcvasquez commented on #95
Solved, thanks @chriscohoat.

[2015-09-18 06:06] orangecoding commented on #95
Why is this not just available over the standard pod *podfile* command?

[2015-09-18 09:45] ewan34500 opened #98 "fatal error: unexpectedly found nil while unwrapping an Optional value"
I can launch my app when I want to display an alert this error appear : fatal error: unexpectedly found nil while unwrapping an Optional value

The error line : let rv = UIApplication.sharedApplication().keyWindow! as UIWindow

[2015-09-20 19:37] dancingbush commented on #98
Hi, I am getting the same error,
: let rv = UIApplication.sharedApplication().keyWindow! as UIWindow
 did you find a solution?

[2015-09-20 20:52] dancingbush opened #99 "Nil error"
Also getting nil error when referencing rv:
// Animate in the alert view
        self.baseView.frame.origin.y = -400
        UIView.animateWithDuration(0.2, animations: {
            self.baseView.center.y = rv!.center.y + 15
            self.view.alpha = 1

[2015-09-20 20:59] dancingbush commented on #99
Window must not be set in viewDidLoad so instead I moved code to viewDidAppear and to works fine.

[2015-09-20 20:59] #99 closed

[2015-09-20 21:00] dancingbush commented on #98
Window must not be set in viewDidLoad so instead I moved code to viewDidAppear and to works fine.

[2015-09-20 22:02] ewan34500 commented on #98
It's right, now it's working, thanks, but maybe this AlertView can be better if it's work in the ViewDidLoad too ...

[2015-09-21 19:15] thedangler opened #100 "Swift 2.0 Issues Not working at all."
Easy to use?
installed via cocoapods
I can't get it to work, can't import SCAlertView
Can't just call it like you are in your examples

[2015-09-23 00:05] y25zhao commented on #100
Same here. Please fix it. Appreciate that.

[2015-09-23 00:17] y25zhao commented on #100
Please update the pod spec so that the new version gets published for supporting swift 2.0. thank you very much

[2015-09-23 16:37] ewan34500 commented on #100
In your pod , write this :
pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git'

[2015-09-23 17:25] dancingbush commented on #100
Changes in swift 2 weren't that many, I have made and got project running, not sure how to upload changes though as haven't use GIT much

[2015-09-23 17:49] vikmeup commented on #100
- September 23rd, 10:48: Push for `SCLAlertView 0.4.2' initiated.
- September 23rd, 10:48: Push for `SCLAlertView 0.4.2' has been pushed (2.812916978 s).

[2015-09-23 17:49] #100 closed

[2015-09-23 17:49] vikmeup commented on #95
should be fixed now.

[2015-09-23 17:49] #95 closed

[2015-09-23 17:49] vikmeup commented on #47
Fixed.

[2015-09-23 17:49] #47 closed

[2015-09-23 17:50] #98 closed

[2015-09-23 17:50] vikmeup commented on #73
Support for 2.0 released.

[2015-09-23 17:50] #73 closed

[2015-09-23 17:51] vikmeup commented on #64
Please upgrade your Swift to 2.0.

[2015-09-23 17:51] #64 closed

[2015-09-23 17:51] vikmeup commented on #48
Fixed now.

[2015-09-23 17:51] #48 closed

[2015-09-23 17:51] #86 closed

[2015-09-23 17:52] y25zhao commented on #100
Thanks @vikmeup You rock!

[2015-09-24 09:36] pekpon commented on #48
Thanks!

[2015-09-30 10:15] HaciKale commented on #53
there is no fading when you add buttons that also uses the hideView().

[2015-09-30 10:17] HaciKale opened #101 "new buttons added doesn't animate when calling hideView()"
I made my own buttons , which should hide when pressed like the Done button, but it doesn't animate ? I just wrote alertview.hideView(). it hides the view, but it doesn't animate it!

other than that it's a freaking awesome extension!

[2015-09-30 10:19] HaciKale opened #102 "Request: using fontawesome as iconImage"
would be amazing if it somehow could use the fontawesome icons to customize  the look!

[2015-10-04 15:15] orangecoding commented on #90
@ogezue @wieseljonas @devilbags see my pullreq. https://github.com/vikmeup/SCLAlertView-Swift/pull/103

[2015-10-08 14:10] sirvine commented on #46
FYI — I'm still getting `Dependency "SCLAlertView-Swift" has no shared framework schemes` on `carthage update` with `github "vikmeup/SCLAlertView-Swift" >= 0.4.2` in Cartfile.

[2015-10-08 19:15] vikmeup commented on #46
@sirvine feel free to submit pull request. Thanks.

[2015-10-12 20:55] nbwar opened #105 "AlertView does not release from memory"
After opening an alert view it is retained in memory and not deinitialized. A simple test is to put a `print` statement inside of  `deinit` in `SCLAertView` and it never gets called. This leads to multiple zombie instances of alertview objects floating around. Most noticeable when interacting with NSNotificationCenter for Keyboard events. Instances start to build up.

[2015-10-13 05:38] ZenkiWeW opened #106 "How to install?"
i'm new in ios development and i don't have any idea about pod. is there any way to use your library in my project. thanks a lot

[2015-10-14 15:30] samueljrains commented on #106
If you'd like to use the very helpful CocoaPods dependency manager.  Here is the homepage with install instructions https://cocoapods.org/

Otherwise, you can just copy the 'SCLAAlertView.swift' file from this repo (at: SCLAlertView-Swift/SCLAlertView/SCLAlertView.swift) into your Swift project and call it within your project from there.

[2015-10-18 18:53] RSuh opened #107 "Has this been tested with ios9?"

[2015-10-20 06:46] PhilippeBoisney commented on #90
@orangecoding I just tested your pull request, and it works like a charm :) Thanks !

[2015-10-21 04:12] vikmeup commented on #106
Thanks @samueljrains.

[2015-10-21 04:12] #106 closed

[2015-10-21 04:12] #90 closed

[2015-10-21 04:12] vikmeup commented on #90
Latest changes pushed to cocopoads. Version: 0.4.3

[2015-10-21 04:12] #85 closed

[2015-10-21 04:13] #67 closed

[2015-10-21 07:09] orangecoding commented on #90
@PhilippeBoisney no worries ;)

[2015-10-23 21:40] orangecoding commented on #107
Have you? What kind of question is this? Anyway, So far I can say it works.

[2015-10-23 21:42] orangecoding commented on #105
Nice catch. Why not fixing this by yourself?

[2015-10-23 21:59] vikmeup commented on #105
@nbwar feel free to submit pull request. Thanks

[2015-10-23 22:01] vikmeup commented on #107
@orangecoding Thanks.

@RSuh let me know if you see any problems.

[2015-10-23 22:01] #107 closed

[2015-10-23 22:01] vikmeup commented on #92
Feel free to submit pull request

[2015-10-27 19:54] y25zhao opened #110 "Request: variable to determine if alert is displayed or not"
Hey I'm wondering if we can add a variable to SCLAlertView for determining if alert view is currently displayed or not

[2015-11-01 22:52] kyegeorge commented on #57
+1

[2015-11-02 00:29] vikmeup commented on #57
@confile as a top header?

[2015-11-02 01:26] kyegeorge commented on #57
Correct. its set in the [Objective-C ver](https://github.com/dogo/SCLAlertView) using
[code]
![Example](https://raw.githubusercontent.com/dogo/SCLAlertView/master/ScreenShots/ScreenShot3.png)

[2015-11-02 04:57] vikmeup commented on #57
It should not be hard to implement. In ShowTitle function we need to take extra parameter of UIImage and then set it to internal variable `iconImage`.

Feel free to send pull request. I'm currently busy with another project. Thanks!

[2015-11-02 04:58] vikmeup commented on #89
Feel free to send pull request for this.

[2015-11-02 04:58] vikmeup commented on #68
https://github.com/vikmeup/SCLAlertView-Swift/issues/68

[2015-11-02 04:58] #68 closed

[2015-11-02 04:59] vikmeup commented on #51
@digitaldesaster let me know if @tonymwinters solution worked for you.

[2015-11-02 04:59] #51 closed

[2015-11-02 05:00] #32 closed

[2015-11-04 20:00] deepukjayan commented on #52
This issue still exists.

[2015-11-04 20:28] vikmeup commented on #52
@rizwan95 what version of Xcode do you use?

[2015-11-04 20:45] #52 closed

[2015-11-06 20:17] damonYuan opened #111 "hideView() called twice in func buttonTapped(btn:SCLButton)"
there is a possibility that the btn.selector.description == "hideView", which make hideView() called twice, and if dismiss block added, will also be called twice.

[2015-11-26 14:17] shaneJPEG opened #114 ""ErrorDescription=Failed to verify code signature of /path/to/on/physical/device/MyApp.app/Frameworks/SCLAlertView.framework""
I'm trying to run an app on my physical iOS device (iPad Mini 2). I'm using SCLAlertView-Swift with Cocoapods. I have tested other apps I've made that do not use SCLAlertView and no error is being thrown when running on a physical device. There are no other details associated with the error, so I'm having trouble fixing the problem.

[2015-11-26 14:30] shaneJPEG commented on #114
Very strange indeed...

I noticed the SCLAlertView pod had a .plist in the same folder as "SCLAlertView.swift" while having another /plist under "Support Files". I deleted the first .plist, leaving the .plist in "Support Files" of the "SCLAlertView" pods folder. My app now runs on my physical device.

[2015-11-26 14:30] #114 closed

[2015-12-01 22:14] Spilly commented on #105
I am seeing this issue as well. I don't see any circular references that jump out at me, but will take a further look in a bit.

[2015-12-06 20:39] Asinox commented on #105
Any updates about this ?

[2015-12-15 09:17] malkabani opened #116 "change kTextFieldHeight value not work"
hi
i need to change textfield height so i change value of kTextFieldHeight to be 100 but nothing change
and if you put any value no change appear

but you can change background color of textfield

is there any related code or issue that prevent textfield to change it's size????
thank you.

[2015-12-22 13:25] ravigill opened #117 "Feature request"
It would be great if the following feature could be added. I have created a extension to achieve this.

<b>prepare the alert without showing it right-away and only show it by explicitly calling show() somewhere else</b>.

Usecase scenario 1
  1. Users sees a screen with table
  2. User clicks on a table cell & <b>the Alert is prepared</b>
  3. User is taken to a new screen (another View controller

[2015-12-23 10:24] Jackson0111 opened #118 "Using Selector("buttonTapped") dismisses alertview"
In the example project, in the showSuccess function when you tap the first button, it doesn't dismiss the alertview. I'm also using alertview.addButton with Selector("buttonTapped") but it dismisses the alertview. I literally just copy paste the same code in the example project and it doesn't dismiss the view! I've been trying to figure this out for hours... Here is my code, please take a look:

[2015-12-29 14:21] pragmaticpat commented on #111
i'm seeing this behavior as well @damonYuan

[2015-12-29 15:58] pragmaticpat commented on #111
Submitted #119 to address this. @damonYuan feel free to test with my fork.

[2015-12-30 11:03] ridvank commented on #105
Is there any update yet?

[2015-12-31 09:33] a363211861 opened #120 "How to import the swift project to my Object-C project"
How to import the swift project to my Object-C project

[2015-12-31 10:05] a363211861 commented on #120
#import "SCLAlertView-swift.h"

I try this code, is ok

[2015-12-31 10:05] #120 closed

[2016-01-03 01:00] #57 closed

[2016-01-07 04:18] ipaddr opened #124 "SCLAlertView move up/down of screen while tapping on UITextField"
If we add more then one textfield to SCLAlertView, let say two textfield. if we tapping on the first textfield, and then tapping on the second textfield, and then back again tapping on the first textfield, the SCLAlertView will moving down of the screen.
If we tapping outside of SCLAlertView, then a keyboard will be hidden, and then if we repeat previous step, then now the SCLAlertView moving up o

[2016-01-07 04:21] ipaddr commented on #124
<img width="319" alt="screen shot 2016-01-07 at 10 59 55 am" src="https://cloud.githubusercontent.com/assets/5902218/12162065/007c5106-b530-11e5-9a31-cd1d64f1b4fd.png">

[2016-01-07 04:21] ipaddr commented on #124
<img width="321" alt="screen shot 2016-01-07 at 11 00 02 am" src="https://cloud.githubusercontent.com/assets/5902218/12162088/4cef94da-b530-11e5-9d9e-b359c53379de.png">

[2016-01-07 04:21] ipaddr commented on #124
<img width="325" alt="screen shot 2016-01-07 at 11 19 35 am" src="https://cloud.githubusercontent.com/assets/5902218/12162114/95344eca-b530-11e5-88dc-627512bfc379.png">

[2016-01-08 18:22] guidove commented on #105
Any update on this? This is really a tricky issue. In my case (i guess for everyone), because the alertView is not deinitialized also the ViewController showing the alert  is not reinitialised from memory, which could cause huge memory leaks in Apps.

Tried to find the cause, but no luck. Even tried setting the alertView to nil on viewWillDisappear of the calling VC, but that didn't do it either.

[2016-01-08 18:57] guidove commented on #105
Did a bit more digging after I commented and FOUND IT!
It's the actions / target,selectors of the buttons.
Add below code to the completion block of the hideView - AnimateWithDuration function:

for button in self.buttons {
    button.action = nil
    button.target = nil
    button.selector = nil
}

[2016-01-10 19:53] pragmaticpat commented on #105
@guidove - show some open-source love and submit a pull req if you have it fixed.

[2016-01-11 02:06] guidove commented on #105
Just submitted. It's my first pull request on github so hope I did it correct.

[2016-01-13 13:47] mitesh21 commented on #52
@vikmeup  i have xCode 7.1.1 but still not working

[2016-01-13 21:22] joshuawright11 opened #126 "Custom design"
Setting the background of the content view, the image, button fonts, etc

[2016-01-14 08:38] vikmeup commented on #105
#125

[2016-01-14 08:38] #105 closed

[2016-01-15 20:03] devJoshLopez commented on #126
The only thing keeping me from using this awesome alertview is not being able to figure out how to change the image icon. If anyone knows how please let me know!

[2016-01-19 09:12] Hanggi commented on #124
I met this problem, to use my keyboard, the dialog will go down, and can't touch it.If I use system keyboard, it will be fine.

[2016-01-21 00:34] pragmaticpat commented on #105
BOOM! Nice work @guidove - thanks for the quick re: @vikmeup

[2016-01-21 00:58] Asinox commented on #105
Nice!, update the Pod please

[2016-01-22 13:44] jaytrixz commented on #110
+1 on this feature request so the alerts doesn't overlap.

[2016-01-23 14:57] ytakzk opened #128 "UITextField does not resign first responder when return key is pressed."

[2016-01-25 09:46] #128 closed

[2016-01-25 09:53] vikmeup commented on #111
@pragmaticpat merged. Thanks

[2016-01-25 09:53] #111 closed

[2016-01-25 09:55] #33 closed

[2016-01-25 09:57] #27 closed

[2016-01-25 09:58] #53 closed

[2016-01-25 09:58] #59 closed

[2016-01-25 10:01] vikmeup commented on #126
@devJoshLopez it supports image icon now, please update to latest version. Thanks

[2016-01-25 10:01] vikmeup commented on #126
@joshuawright11 feel free to send pull request.

[2016-01-25 20:30] devJoshLopez commented on #126
@vikmeup Hey Viktor, thank you for your response. I am new to swift, how would I go about changing the image icon in code? Thanks again. I really appreciate the work you are doing. Much love

[2016-02-01 00:22] polis80cy opened #130 "func buttonTapped - unexpectedly found nil while unwrapping an Optional value"
The following code crashes with a fatal error: unexpectedly found nil while unwrapping an Optional value.
[code]
the line that fails is
 `ctrl.sendAction(btn.selector, to:btn.target, forEvent:nil)`

When I debug, selector and target are nil.

My implementation:
`SCLAlertView().showError("Sign up", subTitle: message as! String, closeButtonTitle: "OK", colorStyle: 0x4a5f70)`

I've noticed I only get

[2016-02-01 00:42] polis80cy commented on #130
It works if I surround it in a nil checking statement:

[code]

[2016-02-01 06:40] polis80cy commented on #124
I have this too @ipaddr, with v0.5.

[2016-02-01 08:44] polis80cy commented on #105
I think this fix is to blame for issue #130.

[2016-02-06 07:36] sabiland opened #131 "showTitle crash IF colorStyle == nil"
alertView.showTitle(title, subTitle: message, style: alertType, colorStyle: nil)

This call crashes if colorStyle is sent as == nil.

FIX:

static func yesNoAlerterCorrectColorStyle(alertType:SCLAlertViewStyle) -> UInt
    {
        switch alertType
        {
        case .Success:

            return 0x22B573

        case .Error:

            return 0xC1272D

        case .Notice:

            r

[2016-02-07 20:55] CrystalVisions commented on #131
How about just setting the default values to black color and white buttons?
Default values are set in the convenience methods such as showEdit, showInfo etc.
`colorStyle: UInt?=0x000000, colorTextButton: UInt?=0xFFFFFF`

[2016-02-07 22:38] vikmeup commented on #131
Could you submit pull request with this fix? Thanks

[2016-02-08 14:34] ArturSkachkov opened #133 "Change only background color of closebutton"
as it is possible to change only the background color of closebutton? Backgrowd color оf other buttons set to leave viewcolor

[2016-02-09 07:00] vikmeup commented on #133
[code]

Now you have access to button property.

[2016-02-10 08:33] ArturSkachkov commented on #133
It,s not work

[2016-02-10 12:37] vikmeup commented on #133
[code]
This solution will work.

[2016-02-10 12:37] #133 closed

[2016-02-10 13:20] ArturSkachkov commented on #133
Виктор, спасибо огромное!

let button = alert.addButton("First Button", target:self, selector:Selector("firstButton"))
alert.showSuccess(kSuccessTitle, subTitle: kSubtitle)
button.backgroundColor = UIColor.redColor()

С уважением,
Артур Скачков
тел.: +79510000903
artursk-2004@mail.ru

[2016-02-11 02:50] devJoshLopez opened #134 "Get circleiconimage to fill circle"
When I add an image to the circleIconImage the image is really small. I would like to make it the full width of the circle like ScaleAspectFill.

Here is my code:
`let successAlert = SCLAlertView()
                    successAlert.addButton("Yes Add Drop", target:self, selector:Selector("addDrop"))
                    successAlert.showSuccess("Hurray!", subTitle: "Your update saved succesfully! Wo

[2016-02-12 12:44] Vesla commented on #124
I think it's due to the fact that it calls the fund keyboardWillShow, i will do a pull request today for this, the problem is solved for me on local

[2016-02-15 08:22] jaytrixz opened #136 "Dismiss Alert When Tapping The Background View"
Please add this feature. Thanks.

[2016-02-20 20:59] fulldecent commented on #136
This is called `shouldDismissOnTapOutside` in the Objective-C version

[2016-02-23 11:24] MichaelCosmo opened #137 "Can I use a TextView instead of a TextField"
I just want to know if it's simply possible to use a TextView into an alert. Thanks.

[2016-02-23 18:10] jaceee commented on #137
Looks like a feature request.
+1 for this.

[2016-02-24 18:31] brayden2544 commented on #74
Also seeing the same issue.

Has anyone found a workaround for this yet?

[2016-02-24 20:03] hons82 commented on #74
Actually, at the end I used another library... I think...
Long time ago...

[2016-02-25 04:08] iTSangar commented on #105
error still going on
Xcode 7.2.1
Occurred:  clicking the button more than once

[2016-03-04 08:21] sabiland opened #138 "Taps on buttons not handled after device rotation"
It sometimes happens that if you:

   - show alert -> rotate device -> taps on buttons are not handled anymore.

[2016-03-07 16:21] chancyWu commented on #136
@ytakzk add this feature already. but now it's only in the example project, not in the master repo. refer to this [commit]
(https://github.com/vikmeup/SCLAlertView-Swift/commit/59ab8e12e66108a7b428c44f724b80f01882505e)

[2016-03-07 16:31] vikmeup commented on #136
@chancyWu would you able to make that change and send PR?
I would be great to only have one SCLAlertView.swift file, per your request :+1:

[2016-03-08 02:33] chancyWu commented on #136
@vikmeup sure, i'll check and send PR later.

[2016-03-08 02:37] jaytrixz commented on #136
Waiting for this to get released...thanks guys!

[2016-03-08 12:41] ytakzk commented on #136
@chancyWu @vikmeup @jaytrixz I added the code to the master repo too.

[2016-03-08 14:37] matheusleite commented on #116
let textField : UITextField = alert.addTextField("Comente...")
        var frameRect = textField.frame
        frameRect.size.height = 70
        textField.frame = frameRect

this work for me

[2016-03-08 14:37] matheusleite commented on #137
+ 1 for this

[2016-03-08 17:49] #136 closed

[2016-03-11 06:22] saravananNV commented on #133
@ArturSkachkov

 I want to change the background color of all buttons in scalertview.how can i change it

thanks

[2016-03-11 13:05] ArturSkachkov commented on #133
All the buttons are the same color
In SCLAlertView.swift :
`    public func caseOne(title: String, subTitle: String, closeButtonTitle:String?=nil, duration:NSTimeInterval=0.0, colorStyle: UInt=0xYOUR COLOR, colorTextButton: UInt=0xFFFFFF, circleIconImage: UIImage? = nil) -> SCLAlertViewResponder {
        return showTitle(title, subTitle: subTitle, duration: duration, completeText:closeButtonTitle

[2016-03-11 21:57] jcarroll3 commented on #124
Confirmed issue on 0.5.1

[2016-03-12 07:30] vikmeup commented on #117
I don't see a need for it. you can just SCLAlertView(). and then set values before calling `showInfo` function.

But, feel free to send PR. I'm closing this issue for now

[2016-03-12 07:30] #117 closed

[2016-03-12 07:30] vikmeup commented on #131
I think it's fixed now. Let me know if you still having that problem

[2016-03-12 07:30] #131 closed

[2016-03-12 07:31] #87 closed

[2016-03-12 07:31] #46 closed

[2016-03-12 07:32] #34 closed

[2016-03-12 07:32] #29 closed

[2016-03-12 09:20] ravigill commented on #117
The need is debatable. But this is not important for us at the moment, so i'm fine with the close.

[2016-03-19 23:07] MaxKramer opened #143 "Text label is truncating text"
Hi,

When I try and display a 'wait' alert with the text set to 'finding your nearest venues', the text is truncated:
<img width="312" alt="screen shot 2016-03-19 at 23 07 05" src="https://cloud.githubusercontent.com/assets/542953/13901791/50d14ba4-ee27-11e5-9c7a-c92937f1e54e.png">

[2016-03-19 23:07] MaxKramer commented on #143
[code]

[2016-03-22 02:31] dsxNiubility opened #145 "about showinfo"
AlertView of showinfo has only one textFiled, can you support a custom to add more.  we want to use two    textFiled to edit name and pwd...

[2016-03-28 17:00] gfelot commented on #130
I had the same error. I solve it by declaring a `let myAlert = SCLAlertView()` inside my func' scope and assign it at the end to where I wanted.

[2016-03-28 17:18] gfelot opened #152 "SCLAlertView goes down the screen on edit"
I have a weird behaviour if I had and a textView to my alertView.
On tap on the textView, the view goes down and don't goes up after hitting return.

See here on call
![img_0502](https://cloud.githubusercontent.com/assets/7879555/14084149/b0ad3e36-f519-11e5-9859-35fbe99ec4ed.png)

On tap into the textField
![img_0503](https://cloud.githubusercontent.com/assets/7879555/14084173/c4102e70-f519-11e5-9

[2016-03-28 17:32] gfelot commented on #143
In the source code (if I refere to github) line 173.
Try to `labelTitle.numberOfLines = 1` to `= 0`

[2016-03-30 00:41] RyanCodes commented on #124
@Vesla can you raise that Pull request?

[2016-03-30 14:58] MaxKramer commented on #143
@gfelot Already tried, the text is still truncated.

[2016-04-03 09:39] thejojo87 opened #153 "how to get button title from selector"
Help!
I need to add several buttons with different titles in a alertVIew.
when i select a button, i need to get the button title in the selector function.

Iam use swift 2.2.
here is my code.

Can it possible?
Thanks!

`
alert.addButton("Add clock in Project", target:self, selector:#selector(CountDownCreation.Pressed(_:)))

alert.showEdit("plese select project",  subTitle:"", closeButtonTitle: NSL

[2016-04-03 12:39] thejojo87 commented on #153
I solved.

            for i in 0...self.projectValues.count-1  {
                print(i)
                let projectName = self.projectValues[i].projectName
                alert.addButton("\(projectName)") {
                    self.Pressed( "\(projectName)")

                }
            }

[2016-04-03 12:40] #153 closed

[2016-04-04 03:41] jinthreek89 opened #154 "Selector expression error"
When I have added SCLAlertView.swift to my project and compile, Xcode can't compile because follow error:
![screen shot 2016-04-03 at 8 38 21 pm](https://cloud.githubusercontent.com/assets/5479567/14237699/561a578e-f9dc-11e5-8273-87ef3fc82f43.png)
There are many syntax error in this class.
Please help me.
Regards.

[2016-04-04 03:42] jinthreek89 commented on #154
I am using Xcode7.2.1

[2016-04-04 04:43] jinthreek89 commented on #154
I have solved this problem on Xcode7.3

[2016-04-04 04:43] #154 closed

[2016-04-05 14:58] Shanlon commented on #152
I am also having this issue.

[2016-04-07 15:55] iiMshl opened #155 "About the icons..."
Is there a way to choose custom icon?
or no icon at all?

[2016-04-07 16:09] iiMshl commented on #155
nvm I figured it out!... but I think you need to mention it in the README

[2016-04-07 16:09] #155 closed

[2016-04-07 16:29] Dev- opened #156 "Should Dismiss on tap outside AlertView"
The following functionality is supported on the Objective-C version of SCLAlertView:

`shouldDismissOnTapOutside = YES;`

Tapping the dimmed screen dismisses the Alert View.

Would be great if this could be brought over to the Swift version.

[2016-04-07 21:20] blazierkyle commented on #156
In the Swift version this is called "hideWhenBackgroundViewIsTapped"

[2016-04-08 10:32] Dev- commented on #156
Thanks for your response.

That property is not in the version that gets pulled down from CocoaPods.

i.e. pod 'SCLAlertView', '~> 0.5' or  pod 'SCLAlertView' as per the README.

However I do see it when I download the ZIP and run the Example project.

[2016-04-08 15:24] sdbarron commented on #155
@iiMshl  Could you either give the answer you figure out here - or, better yet, update the README and make a Pull Request? That would help the next person with the same question.  Thanks!

[2016-04-08 18:41] iiMshl commented on #155
Alright I updated it and made a pull request

[2016-04-08 19:55] sdbarron commented on #155
Thanks!  I find that the originators of these things are often too close to know what-all needs to be included in ReadMe.

[2016-04-11 10:57] vikmeup commented on #156
Podspec updated now.

[2016-04-11 10:57] #156 closed

[2016-04-11 21:11] craigpearce5 opened #158 "2 (or more lines) of text on button?"
When the text for the buttons are too long, it truncates it all.  Is it possible to reduce the size of the font and go to 2 lines?

[2016-04-11 21:23] vikmeup commented on #158
@craigpearce5  Feel free to send Pull Request

[2016-04-13 15:43] sdbarron commented on #158
If anyone implements this, could I request/suggest that it be an Option.  I wouldn't want the font size to get unreadable when the filename is long.  I bet we could get two lines _without_ making the font smaller.

[2016-04-13 16:31] craigpearce5 commented on #158
I'm still pretty new at swift, but I'm guessing it would be accomplished by adding some code here.

    private func addButton(title:String)->SCLButton {
        // Update view height
        kWindowHeight += kButtonHeight
        // Add button
        let btn = SCLButton()
        btn.layer.masksToBounds = true
        btn.setTitle(title, forState: .Normal)
        btn.titleLabel?.font = UIFont(n

[2016-04-15 06:30] yoohoogun114 opened #159 "Now Is it Support Carthage?"
Now, I Added In Cartfile with
[code]

But When I Run With
[code]

Then

[code]

[2016-04-16 10:42] iThanh opened #162 "fatal error: unexpectedly found nil while unwrapping an Optional value"
When i call:
SCLAlertView().showError("Error", subTitle: "Please contact Administrator.")

My ViewController error in:
let rv = UIApplication.sharedApplication().keyWindow! as UIWindow

Please!

[2016-04-18 19:25] vikmeup commented on #162
Do you call this on `viewDidLoad`?
Try on `viewWillAppear`

[2016-04-18 19:30] vikmeup commented on #159
SCLAlertView.xcodeproj has shared scheme framework. Not sure what the problem is.

[2016-04-19 09:35] iThanh commented on #162
Thank you!

[2016-04-20 05:04] ronnyandre opened #164 "Custom font"
Is it possible to adjust with a custom font that I am using in my app?

[2016-04-20 16:49] peterprokop opened #165 "Carthage issue"
Using `carthage-0.16.2.el_capitan`
With line in cartfile:`github "vikmeup/SCLAlertView-Swift" ~> 0.5.3`
With Xcode Version 7.3 (7D175)
Doing: `carthage update --platform iOS --no-use-binaries SCLAlertView-Swift`
Getting:
[code]

[2016-04-20 20:03] golfguru1 commented on #152
+1 also having this issue

[2016-04-21 09:08] peterprokop commented on #165
@vikmeup Please check this PR: https://github.com/vikmeup/SCLAlertView-Swift/pull/166
It fixes test target, which is unbuildable currently

[2016-04-21 11:49] vikmeup commented on #165
@peterprokop thanks for pull request. Does it work now?

[2016-04-21 13:12] MichaelCosmo commented on #137
Any news??

[2016-04-21 16:16] peterprokop commented on #165
Yep, it builds now, thanks!

[2016-04-21 16:16] #165 closed

[2016-04-24 05:09] Piyush08 opened #167 "Not working with Closure"
I implemented as follow

[code]

[2016-04-24 19:07] TarangKhanna commented on #162
Having this problem even for a simple:

SCLAlertView().showInfo("Important info", subTitle: "You are great")

I tried it in viewDidLoad, viewWillAppear, I have used this library for a year without any problems,
Deployment target is: 9.3 with Xcode version 7.3

[2016-04-25 10:30] MichaelCosmo commented on #137
I've made the feature ;)
#168

[2016-04-25 15:36] fulldecent opened #169 "UIAutomation"
I am using fastlane/snapshot to do automation for screenshots in multiple locales.

How do I click the "OK" button in a language-independent way using UI testing?

[2016-04-26 12:37] Twelve57 commented on #152
The only solution I came up with is to make some changes in the SCLAlertView.swift file.
To be clear, my application is used on iPad Pro with a Smart Keyboard.

So the solution is to change the viewDidAppear and the viewDidDisappear methods.
And just comment the two lines started by :

In fact after removing the listener managing the keyboard, this bug will never appear again.
I've not tested the

[2016-04-26 18:39] golfguru1 commented on #152
@Twelve57 just tried that on an iPhone 6 and it the problem is gone. Thanks!

[2016-04-26 19:15] #152 closed

[2016-04-26 19:16] vikmeup commented on #167
do you call `SCLAlertView().showError()` and  `self.presentViewController ` at the same time?

[2016-04-26 19:16] #162 closed

[2016-04-26 19:17] #137 closed

[2016-04-26 19:18] #116 closed

[2016-04-26 19:18] #61 closed

[2016-04-26 19:19] #41 closed

[2016-04-26 19:19] vikmeup commented on #169
is there a way to target uibutton with view index or tag ?

[2016-04-26 19:35] fulldecent commented on #169
The usual approach is to set an accessibility identifier

On Tue, Apr 26, 2016 at 3:20 PM, Viktor Radchenko <notifications@github.com>
wrote:

[2016-04-27 10:50] zvandervelde opened #170 "Dismiss with code"
It would be nice if you could dismiss an AlertView via code. In particular a waiting alert view

[2016-04-27 12:25] #170 closed

[2016-04-28 05:31] #158 closed

[2016-04-28 05:38] vikmeup commented on #143
It's fixed in latest commits.

[2016-04-28 05:38] #143 closed

[2016-04-28 05:39] #130 closed

[2016-04-29 04:37] blazierkyle commented on #126
#171 Supports a custom subview, so you'd be able to supply a UIView that goes under the title and above the buttons to customize any way you'd like.

[2016-04-29 12:27] UtkuDalmaz opened #172 "Cannot override with a stored property 'action'"
Hello,

I am having this error after i installed the library ?

[2016-04-29 13:10] #126 closed

[2016-04-29 13:10] vikmeup commented on #126
@blazierkyle Thanks for contributing.

[2016-04-29 17:29] anzhehong commented on #124
@Vesla can you raise that Pull request?

[2016-04-29 18:13] RyanCodes commented on #124
Temp fix go look at his branch and cherry pick the code into the local pod library. Remember it will reset when the library updates

[2016-04-30 11:18] rp9994 opened #173 "I cannot create custom view"
I am try to create custom subview.I implement your shown code. But it show me error like "Value of type 'SCLAlertView' has no member 'customSubview".

[2016-04-30 17:22] vikmeup commented on #173
Updated pod spec. Try it again

[2016-04-30 17:22] #173 closed

[2016-04-30 23:12] jgao1 commented on #159
Same problem here. Was trying to include "SCLAlertView-Swift" in my project through Carthage.

[2016-05-02 12:48] mohsinka opened #174 "SCLAlertView Custom Subview"
@alec-c4
First off, Thank you for this amazing Alert!! However, as prescribed in the "Readme" file;
[code]

The customSubview property of SCLAlertView is missing / wrongly removed from the current revision, or I am not understanding it properly. Please direct me towards the rightful implementation.

[2016-05-02 16:29] vikmeup commented on #174
`public var customSubview : UIView?` there is customView property

[2016-05-02 16:37] vikmeup commented on #172
can you provide more details?

[2016-05-02 18:15] UtkuDalmaz commented on #172
i fixed it by changing

var action:(()->Void)! to var somethingelse:(()->Void)!

[2016-05-02 22:28] hibento commented on #159
Work's fine for me - with latest carthage version and current master.

[2016-05-03 04:18] mohsinka commented on #174
Can you please refer to _line number_ where this is mentioned? I cannot find it anywhere in **SCLAlertView.swift**

[2016-05-03 17:37] vikmeup commented on #164
Yes you can now. Check out SCLAppearance

[2016-05-03 17:37] #164 closed

[2016-05-04 13:03] shanmarkus opened #177 "alertView.showCloseButton"
I cannot find any alertView.showCloseButton in the new version. Any replacement function ??

Thank you.

[2016-05-04 14:03] moonvader opened #178 "Add action for default button"
I want to run some code after user presses default button. How it can be done?
Or maybe i can hide default button somehow so it will not be presented on the screen?

Am I right that I should use dismissBlock for it?

[2016-05-04 18:02] joaovbalmeida commented on #177
having the same problem here!

[2016-05-04 18:24] vikmeup commented on #177
Please use appearance:
[code]

[2016-05-04 18:24] #177 closed

[2016-05-04 18:32] vikmeup commented on #174
Please refer to https://github.com/vikmeup/SCLAlertView-Swift#use-a-custom-subview-instead-of-a-subtitle

[2016-05-04 18:32] #174 closed

[2016-05-04 18:32] #172 closed

[2016-05-04 18:34] vikmeup commented on #145
[code]

you should be able to set any property to UITextField

[2016-05-04 18:34] #145 closed

[2016-05-04 18:36] vikmeup commented on #118
Please try update sample project. This problem should be fixed now.

[2016-05-04 18:36] #118 closed

[2016-05-06 07:24] zeusent opened #179 "Instance property "appearance" is not public"
The new `appearance` variable is not public, thus making the need to explicitly set it on init instead of giving the option to later change it. Is that on purpose?

I would have expected to be able to do something like this

    let alertView = SCLAlertView()
    alertView.appearance.showCloseButton = false

But that doesn't work and instead I have to do this:

    let alertView = SCLAlertView(app

[2016-05-07 20:18] vikmeup commented on #179
`SCLAlertView.SCLAppearance` is exposed for use. Current implementation render that have set to `appearance` property.

[code]

That's the right way to use it.

[2016-05-07 20:18] #179 closed

[2016-05-10 14:16] ins0u commented on #178
[code]

[2016-05-10 14:20] #178 closed

[2016-05-12 04:15] DanielChu commented on #124
Basic problem seems to be custom keyboards (Flesky etc.) does multiple calls to keyboardWillShow with very weird frame values.

I've got a fix in my fork. Basically re-wrote it so now the alert box will only move if keyboard overlaps it and never moves so far up that the top of the content is out of the view.

Also just created a pull request for it.

[2016-05-15 17:32] mdavalos1993 opened #184 "on viewDidLoad()"
How to show it in viewDidLoad()

override func viewDidLoad() {
        super.viewDidLoad()
        self.SCLAlertView().showInfo("Important info", subTitle: "You are great")
}

[2016-05-16 06:12] Piyush08 commented on #167
@vikmeup
No,as you can see for success case I just try to show SCLAlertview
but I think it is not working good with closure.

[2016-05-16 09:04] Piyush08 commented on #167
I solved it!
it is not working because Progress HUD Animation is true!
If I set animation as false while hide then it works like a charm!

Thank you,

[2016-05-16 09:04] #167 closed

[2016-05-18 03:35] vikmeup commented on #184
Call on `viewWillAppear`

[2016-05-18 03:35] #184 closed

[2016-05-18 03:36] vikmeup commented on #159
@hibento Thanks!

[2016-05-18 03:36] #159 closed

[2016-05-20 20:35] tharak commented on #124
happening with me too, if you change you keyboard to emojis it will go down at each tap if you are unlucky enough you app will be stuck and the user will have to close the app

[2016-05-21 10:57] vayuzKrishna opened #187 "Set Keyboard type should be there."
I need to input only numeric value from alert and i dont have any option to set keyboard type as numberpad in this library. please suggest me any fix for that ASAP.and update in this library.

Thanks in advanced.

[2016-05-23 15:32] d4kr commented on #179
Hi, with SCLAlertView 0.5.6 implemented with cocoapods 1.0 the code

`let appearance = SCLAlertView.SCLAppearance(
    showCloseButton: false
)`

give me the following error

`Type SCLAlertView has no member SCLAppearance`

Any idea why?

thx, dk

[2016-05-23 17:08] tylerlu94 opened #188 ".TouchDragExit control event for action buttons"
When a TouchDragExit action is performed on a button, the button is dimmed and doesnt recover, but the click doesn't register either.

[Screenshot](http://imgur.com/H2A5Zmm)

`btn.addTarget(self, action:#selector(PremeerAlertView.buttonTapped(_:)), forControlEvents:.TouchUpInside)
        btn.addTarget(self, action:#selector(PremeerAlertView.buttonTapDown(_:)), forControlEvents:[.TouchDown, .Touch

[2016-05-23 21:53] vikmeup commented on #179
@d4kr can you try it again? let me know

[2016-05-24 13:02] tharak opened #189 "Problem with Swiftkey"
When you use Swiftkey keyboard the popup will go down when clicked, if clicked twice, the app will be stuck on a black screen

[2016-05-26 07:53] emouawad opened #190 "SCLAlertView.appearance()"
I think having a global static appearance to all created alerts would have its benefits.
That way we can initialise it once on app start, and later only modify relevant modifiers.

Plus it would be consistent with IOS appearance design like:
UINavigationBar.appearance().tintColor = UIColor(hex: 0xfefefe)
UITabBar.appearance().tintColor = UIColor(hexString: "#bd0000")

[2016-05-26 08:23] vikmeup commented on #190
Totally, great idea! Would you able to submit pull request for it? and also update docs. I will make sure it goes as 1.0 version. Thanks

[2016-06-02 17:45] Jabelriera opened #192 "[Question/Help] How to use proper use "DismissBlock""
Hi everyone,
I'm using this lib in one of my new projects and I amb having problems to find how to execute certain function when Alert is dimsissed. I can controll perfectly when it's closed by buttons, but when it's closed with tap on background i dont know how to do it. I have found the setDismissBlock but I can't see how to use it. Any help/link that may help me?

[2016-06-05 07:42] GZaccaroni opened #193 "Add multiple language support"
The only language "Done" is showed is english, and it is pretty redundant to edit it in every call... So it would be great if there was a localization

[2016-06-06 09:50] emouawad commented on #110
Any progress on this feature?

[2016-06-06 12:29] ossmalpha commented on #179
It is not working, I'm getting the same error saying that there is no member `SCLAppearance`. I checked the .swift file for SCLAlertView pod and I can see `public struct SCLAppearance`, but, for some reason, this is not recognised in my project classes.

[2016-06-06 12:32] ossmalpha commented on #179
@vikmeup And I tried reinstalling the pod, cleaning the project, relaunching Xcode, restarting my Mac and all the other tricks, but no result. :/

[2016-06-06 16:42] vikmeup commented on #179
@ossmalpha have you tried Example Project?

[2016-06-07 16:22] HowardTheDuck007 opened #194 "showCircularIcon and showCloseButton not working anymore"
Hi, It appears that with new version the:

showCircularIcon and
showCloseButton boolean properties

are not working anymore. Alert says SCAlertView has no members with those names.

Am I doing anything wrong?  Thank you!

[2016-06-07 18:01] faris-mobile89 opened #195 "Button change to hidden when click"
I have created custom SCALertView  with 2 buttons, it's working fine. But the issue when click on the first button, it's go to hidden.

This is my code:

extension UIViewController:ValidationDelegate{

    func showInputAlert(title:String, doneButtonText:String, placeholder:String, completion: (inputValue:String) -> ()){
        let appearance = SCLAlertView.SCLAppearance(
            kTitleFont:

[2016-06-08 02:58] FelipeNBrito commented on #71
I've created a custumizable alert. I think it helps on this issue. https://github.com/vikmeup/SCLAlertView-Swift/pull/196

[2016-06-08 15:12] cvburgess commented on #71
Closing this assuming #196 gets merged it's exactly what I was looking for. Thank you @FelipeNBrito !

[2016-06-08 15:12] #71 closed

[2016-06-08 17:52] FelipeNBrito commented on #102
You can import the https://github.com/thii/FontAwesome.swift to your project and use the customizable alert (https://github.com/vikmeup/SCLAlertView-Swift/pull/196) to set the icon you want.

[code]

[2016-06-09 00:40] JosephGarcia opened #197 "shouldAutoDismiss not working?"
Been stuck on this for a few hours. I have a 2 text fields that I wish to validate. If the info is legit. I can close the AlertView. If its not I want to leave the view.

No matter what I do right now the view is always dismissing after I click the button associated with the AlertView.

`func showEditAlert(title: String, msg: String) {
        let appearance = SCLAlertView.SCLAppearance(

[2016-06-11 22:28] illyaBakurov commented on #192
Hi,

I was looking to implement the same thing and your question pushed me to the right way. Finally I figured out how to implement dismissBlock and here is how:

As commented in SCLAlertView.swift file under SCLAlertViewResponder declaring:
"// Allow alerts to be closed/renamed in a chainable manner" and function "setDismissBlock" sits right in this class.
It is also a helpful example in comments

[2016-06-15 21:28] btelintelo commented on #197
Are you on version 0.58?  It works fine for me, but the button disappears when clicked.

[2016-06-15 22:35] Stephanehk opened #199 "SCLAlerView Installation Error"
For some reason after installing SCLAlerView, when I run the xcode workspace 32 errors appear (they are all errors in the Podfile). I think this is an error with your pod since this does not happen for any other pods. May you please help me. Thanks.

[2016-06-15 23:10] filmhomage commented on #199
#198 merged PR may cause pod install error.

@vikmeup
Please push 0.5.9 tag and release.

[2016-06-15 23:37] vikmeup commented on #199
Done
`- June 15th, 16:36: Push for `SCLAlertView 0.5.9' initiated.`

[2016-06-15 23:37] #199 closed

[2016-06-16 03:37] Stephanehk commented on #199
What does this mean?

[2016-06-16 12:08] btelintelo commented on #197
465:
func buttonRelease(btn:SCLButton) {
        btn.backgroundColor = btn.customBackgroundColor
    }

customBackgroundColor is nil

[2016-06-16 12:20] gintechsystems opened #200 "Swift 2 Support"
There are a lot of errors when trying to build with this project. I was able to fix them and can submit a PR.

[2016-06-20 09:21] filmhomage commented on #92
@midhun73s
``` Added animation options #191 ``` Support to ``` NoAnimation ```

[2016-06-20 21:55] helenamcfreire commented on #189
Any response ?? Same issue here...

[2016-06-20 21:56] helenamcfreire commented on #189
@tharak did you solve this?

[2016-06-20 21:59] vikmeup commented on #189
@tharak  @helenamcfreire if you guys have solution for this problem, feel free to submit PR. Currently do not have time to look at it.

[2016-06-21 22:34] devJoshLopez commented on #194
im getting the same

[2016-06-22 11:21] HowardTheDuck007 commented on #194
ops...it was indeed my mistake. You just need to use the appearance setting such as:

let appearance = SCLAlertView.SCLAppearance(showCloseButton: false, showCircularIcon: true)
        let alertView = SCLAlertView(appearance: appearance)

[2016-06-22 16:37] #194 closed

[2016-06-22 21:56] mkayswork opened #202 "Instanciation of SCLAlertView or SCLAlertView.SCLappearance only with all or zero parameters possible"
Hey,

I was trying to make a appearance for an AlertView. But when I want to make an instance with only several values, Xcode doesn't find them!

Example:
let appeareance = SCLAlertView.SCLAppearance(
    kButtonHeight = 45
)

Any solutions for that ? I imported the module in my .swift file and added the project via CocoaPods

[2016-06-22 21:58] vikmeup commented on #202
`let appeareance = SCLAlertView.SCLAppearance(kButtonHeight: 45.0)`

try this way. This property names has to be renamed in the future for clarity.

[2016-06-23 15:32] allaire commented on #110
I think we should have a mode where only one alert can be displayed. Currently, multiple alerts can overlay on each other. thoughts @vikmeup ?

[2016-06-23 15:38] mkayswork commented on #202
Ah, it was ":" instead of "=", haven't noticed that... thank you! 😊

[2016-06-23 16:31] #202 closed

[2016-06-23 18:04] mkayswork commented on #195
Well, from what I see inside the code is that you have to change the backGroundColor of the Button like so:
`alertView.addButton("OK",
    backgroundColor = UIColor.greenColor() // for example
)`

I tried that because after the tap is released, the customBackgroundColor e.g your color above should be changed into that. However, when I use that value the button isn' green. I can't see it at all

[2016-06-24 07:26] tenfu commented on #124
because two animate , before Vesla fixed, you can try
[textField performSelector:@selector(becomeFirstResponder) withObject:nil afterDelay:.4];

[2016-06-24 17:09] fulldecent commented on #169
OK, resolved, I added this in storyboard:

    <accessibility key="accessibilityConfiguration" identifier="showSecretWord"/>

And then in the test:

    let showSecretWordButton = app.buttons["showSecretWord"]
    showSecretWordButton.tap()
    snapshot("03Secret")

[2016-06-24 17:09] #169 closed

[2016-06-24 18:52] devJoshLopez commented on #134
still trying to figure out how to make the icon the height and width of the circle and rounded

[2016-06-27 07:02] shindonghyeok opened #203 "how to change button border color??"
hello i 'd like to change button's border color. i mean that i can change a button's background color. but  what i want is that changing button's border color. for example, background color is white and border color is blue... somthing like this... how can i do this??? please help me...

ps : and also icon background border color...

[2016-06-27 07:53] shindonghyeok commented on #203
//circleView.backgroundColor = viewColor  //original code
        circleView.layer.borderWidth = 1.0
        circleView.layer.borderColor = viewColor.CGColor

i can change circle view border color !

[2016-06-28 06:54] askari01 commented on #203
check SCLAlertView.swift file in pods

[2016-07-01 15:20] Damnum commented on #159
The problem is this old tag 0.22: https://github.com/vikmeup/SCLAlertView-Swift/tree/0.22

Carthage takes this as the newest version. This tag should be probably renamed or deleted.

github "vikmeup/SCLAlertView-Swift" ~> 0.5.9

works

[2016-07-03 00:42] helenamcfreire commented on #189
@vikmeup do you have any idea of when you will have time to look at it ? Next week, month, year, ... ? :)

[2016-07-06 07:17] paterik opened #206 "It takes a while for the first message to show up on the UI/Screen"
I've noticed a strange behaviour on (any) initial show-calls ... takes a while for the first message to show up on the UI/Screen, all further showCalls will be executed perfectly fast-and-fine. I've tested your library in version 0.5.9 with an iPhone 6s, iOS 9.3.2 (13F69).

[2016-07-06 15:32] perlguy99 opened #207 "Code Signing Issue?"
Hello, I am not sure if you have seen this before, or even know how to solve it...

I have tried using this library as a CocoaPod in my app (enterprise distributed) several times.  Sometimes it will work, sometimes it will have code-signing issues upon an attempt to install the ipa onto a device.

I have not yet been able to figure out why this only happens sometimes though.

Here is what shows up

[2016-07-06 19:12] faileon commented on #206
Yup I have the same issue, first call of show is reaaaally slow.

[2016-07-07 12:29] shial4 opened #208 "SCLAppearance"
I am unable to init SCLAppearance
When I try do add it in appearance it gives me error:
Use of unresolved identifier 'titleColor'

How to change the alert title color?

[2016-07-07 12:39] #208 closed

[2016-07-07 12:40] shial4 commented on #208
My mistake. Just had to delete derrived data.

[2016-07-07 20:19] devJoshLopez commented on #206
having the same problem too

[2016-07-07 20:40] devJoshLopez opened #210 "access to the uiimageview"
Is there a way to access the uiimageview of the alert? I want to use face detection but dont know how to access the uiimageview to add the func i need.

[2016-07-07 20:50] vikmeup commented on #210
you should have access to `var circleIconView : UIView?`

[2016-07-07 21:14] devJoshLopez commented on #210
How would i use it? Do i do something after `let dropAlert = SCLAlertView(appearance: alertAppearance)`? I have tried dropAlert.circleIconView but that doesn't work. I apologize if this is a bad question.

[2016-07-11 11:20] sedatgoc opened #211 "I am getting nil error when I double click to any button"
The code and error is in the attachment

![ekran resmi 2016-07-11 14 18 28](https://cloud.githubusercontent.com/assets/12969433/16728988/6dd73f5c-4772-11e6-8073-6361e204215a.png)
![ekran resmi 2016-07-11 14 18 21](https://cloud.githubusercontent.com/assets/12969433/16728987/6dd62d9c-4772-11e6-8f7c-50b7abfd8b69.png)

[2016-07-13 19:59] ChenCodes opened #212 "Delay dismissing the alert view"
Hello! I'm trying to figure out how I can delay the dismissal of the alertview. So basically when I enter in some text into a uitextfield and then press Confirm, I want to dismiss the alertview only if the text they entered matches some default text. Right now when I press on the confirm button it dismisses the alertview regardless of what I put in the textfield. Any help would be greatly apprecia

[2016-07-13 20:13] vikmeup commented on #212
@ChenCodes if you set `shouldAutoDismiss` property then you will have control over it.

[2016-07-13 20:14] ChenCodes commented on #212
@vikmeup Yeah so I tried that but my button disappears after I press on it.

[2016-07-13 20:25] ChenCodes commented on #212
Here is my code for reference:

let appearance = SCLAlertView.SCLAppearance(
        showCircularIcon: true,
        showCloseButton: false,
        shouldAutoDismiss: false
    )
    var validity = false

    func clickMe(sender: UIButton!) {
        let alertView = SCLAlertView(appearance: appearance)
        let alertViewIcon = UIImage(named: "caughtIcon") //Replace the IconImage text with the

[2016-07-13 20:33] ChenCodes commented on #212
Figured it out:
Just needed to set the color of my button
alertView.addButton("OK", backgroundColor : UIColor.greenColor() // for example )

[2016-07-13 20:33] #212 closed

[2016-07-13 23:46] damtsnkff commented on #206
@paterik do you face the same issue on the simulator ?
To confirm, try launching the app on your iPhone, terminate it, then reopen it (not from xcode). Is this still slow ?

[2016-07-14 19:11] HardcoreIOS opened #213 "Spacing"
How do I add spacing between the alert title and alert description

<img width="318" alt="screen shot 2016-07-14 at 3 10 42 pm" src="https://cloud.githubusercontent.com/assets/15222571/16852246/45d53530-49d5-11e6-87a9-ae13bd150721.png">

[2016-07-14 19:12] HardcoreIOS commented on #213
How can I make each button have a different color and make the alert nice and spaced out like this?
<img width="293" alt="screen shot 2016-07-14 at 3 11 59 pm" src="https://cloud.githubusercontent.com/assets/15222571/16852279/6e99daca-49d5-11e6-8e93-f2c3691bf26e.png">

[2016-07-14 19:14] HardcoreIOS commented on #211
@sedatgoc try putting `btn.action()` after the last if statement(so technically at the bottom)

[2016-07-17 02:22] SketchySwift opened #214 "Instant Synchronization"
Hi, I am having a problem reloading some tableview's data.
![simulator screen shot jul 16 2016 10 14 49 pm copy](https://cloud.githubusercontent.com/assets/15222571/16898331/fd9d5b88-4ba2-11e6-8b77-8405018bafa6.png)
Here is my app - to-do-list. I am allowing the user to add task, so when he/she adds a task the task doesn't show right away. But when I go to another view and come back, it will be th

[2016-07-18 20:36] paterik commented on #206
Hi @damtsnkff, sorry for the late reply ... yes, i've the same issue during simulating my app - in this particular case the initial show seems even take much longer than on my direct device tests.

[2016-07-19 15:33] tharak commented on #189
oh, sorry for my delay on responding. I did not solved, it happens on a limit number of users, and we tell them to change the keyboard before opening the popup. I dont have time to fix this right now but I did some research this might help:
"How do you go about creating a popup? Does your popup listen to NSNotificationCenter notifications and adjust its position based on the KeyboardWillAppear not

[2016-07-19 22:44] SikandAlex opened #216 "Change Button Size"
I'd like to change the size of the buttons within the alert view but I can't seem to do it. The kWindowHeight and kWindowWidth properties just change the dimensions of the AlertView itself without changing the buttons. The kButtonHeight property only changes the spacing between the buttons not the size itself. Any suggestions?

Thanks guys, fantastic work
Alex

[2016-07-26 02:15] lxbboy326 opened #217 "to install through CocoaPods 1.0.1"
It seems to missing a file named "SCLExtensions.swift"
what happened?

[2016-07-28 01:06] OmarAlKhamis opened #219 "SCAlertView only showing once after segue ?"
Hello guys ,

I really , really like the design of those awesome alertViews.
My issue is as follows:

My code consist of two viewControllers which are calling each other back and forth,
MainScreenViewController
GamePlayViewController

MainScreenViewController calls performSegueWithIdentifier using a button with @IBAction to GamePlayViewController

in GamePlayViewController.viewDidLoad() i did the

[2016-07-28 01:24] OmarAlKhamis commented on #219
**_Solved !_**

I just had to call it in viewDidAppear instead of viewDidLoad ...
can anybody explain why ?

[2016-07-28 01:27] TheOriginalTrubador commented on #219
Yeah- viewDidLod is only called on initial load- viewDidAppear is called
each time the controller appears. First time you hit it is onLoad, second
isn't old since the controller is loaded in the hierarchy it's you've
segued into another.

Regards

Ian Bray

Sent from my iPhone - Apologies for any typos

On Jul 27, 2016, at 21:24, OmarAlKhamis <notifications@github.com> wrote:

*Solved !*

I just h

[2016-07-28 21:08] etherboy commented on #213
`SCLAlertView`'s addButton method includes a `backgroundColor:` parameter you can use to set the colour.  You could use some `\n`s in the alert description to do the spacing.

[2016-07-29 14:20] Vesla commented on #124
Im back to an iOS project and I still need this, is the issue still present on last version? I will do a new pull request to satisfy the author.

[2016-08-06 04:56] Seaofbbs opened #221 ""Show Custom Alert" Button in Example can't use"
fatal error: unexpectedly found nil while unwrapping an Optional value
(lldb)

[2016-08-06 04:56] Seaofbbs commented on #221
Run in Xcode 7.3.1

[2016-08-06 05:08] Seaofbbs commented on #221
@IBAction func showCustomAlert(sender: AnyObject) {
        let alert = SCLAlertView()
        alert.addButton("First Button", target:self, selector:#selector(ViewController.firstButton))
        alert.addButton("Second Button") {
            print("Second button tapped")
        }

        let icon = UIImage(named: "MyPicture")   // ************Just Replace the ImageName to exist ImageName*******

[2016-08-07 08:55] Seaofbbs commented on #216
[
![2016-08-07 4 49 54](https://cloud.githubusercontent.com/assets/13342724/17461442/21860e82-5cbf-11e6-9cbe-44bbf643f681.png)
](url)

[2016-08-07 08:58] Seaofbbs commented on #216
![2016-08-07 4 57 42](https://cloud.githubusercontent.com/assets/13342724/17461482/1f889d2e-5cc0-11e6-97c1-e4f8d6690378.png)

[2016-08-07 09:02] Seaofbbs commented on #216
Add "btn.frame = CGRect(....)"  in "for btn in buttons{}" to change size.
I am looking for some smart way,too...

[2016-08-10 18:14] Patrick2990 opened #222 "Swift 3"

[2016-08-10 18:17] #222 closed

[2016-08-12 03:16] devJoshLopez commented on #179
anyone able to fix the Type SCLAlertView has no member SCLAppearance error? I just started getting it now too in a new project.

[2016-08-16 15:31] PatrickKaalund opened #223 "Can't compile: Cannot assign value of type '() -> Void' to type '(() -> Void)!' - swift 3"
I get this error when trying to compile SCLAlertView in swift 3 - xcode 8 beta 6.

Anyone have an idea how to fix it?

../Pods/SCLAlertView/SCLAlertView/SCLAlertView.swift:409:22:
Cannot assign value of type '() -> Void' to type '(() -> Void)!'
<img width="1179" alt="skaermbillede 2016-08-16 kl 17 29 08" src="https://cloud.githubusercontent.com/assets/9962378/17705011/2cc7b574-63d7-11e6-82e2-c849e

[2016-08-20 16:09] TadeasKriz opened #226 "Support for NSAttributedString subtitle"
Hi,
would it be possible to add NSAttributedString support for subtitle? It would be helpful for highlighting parts of the text.

[2016-08-24 16:57] ukmarn opened #227 "kButtonHeight not working"
I have searched through example and wiki but couldn't find anything.
The problem is that following code is not working on button height:

`let appearance = SCLAlertView.SCLAppearance(
            kWindowWidth: 275,
            kTitleFont: UIFont(name: "SourceSansPro-Regular", size: 24)!,
            kTitleTop: 40,
            kTitleHeight: 40,
            kButtonHeight: 60,
            kTextFont:

[2016-08-25 19:19] SamuelShaw opened #228 "Silly question about default Done button"
Hello I understand the done button dismisses the view.. Is there a way to remove that button or is it there to stay? :) thank you!

[2016-08-25 19:32] SamuelShaw commented on #228
Thanks to your wonderful doc I was able to see it! (closeButton title) Please close this issue when you can! :)

[2016-08-26 12:33] ashiqsulaimanbaryons opened #229 "Button color not changing"
In the following code i am not able to change the background color of the button, when i am giving the background colour as UIColour(red:122.0, green:100.0, blue: 30.0 , alpha: 1.0)
The result is the background colour of the button turns white.

` @IBAction func clickME(sender: AnyObject) {

            let appearance = SCLAlertView.SCLAppearance(
                kTitleFont: UIFont(name: "Helvetic

[2016-08-30 06:25] thakurkrishna1991 opened #231 "Alert dismissing automatically when i called it in closure"

[2016-09-05 03:16] udaymedic commented on #223
Hello folks,

Did anyone found the fix for this problem. I am facing the exact build error in Xcode 8 beta 6 and swift 3.0

[2016-09-05 03:23] udaymedic commented on #223
Try chaging the method header of your addButton(_:action:) to:

public func addButton(_ title:String, action:@escaping ()->Void)->SCLButton {
The diagnostic messages from new betas are so confusing and inadequate as usual, but making your property simply non-Optional var action:()->Void = {} will give you a little more useful info.

[2016-09-05 14:41] HowardTheDuck007 commented on #223
Same here, once changed as suggested by udaymedic, the compiler keeps showing a "Expression was too complex to be solved in reasonable time..."

at line
colorAsUInt32 += UInt32(red * 255.0) << 16 + UInt32(green * 255.0) << 8 + UInt32(blue * 255.0)

and if you split it or even try to temporarily commenti it, the compiler shows a
Command failed due to signal: Segmentation fault: 11

Does anyone succ

[2016-09-05 23:35] vikmeup commented on #223
@Patrick2990 try going into `swift3` branch. Let me know if that works

[2016-09-06 18:56] HowardTheDuck007 commented on #223
Hi, I understand this may be a silly question due to my lack of experience with cocoapods but....how should I install swift 3 branch?
Uninstall pod and manually add the branch files or update through cocoapods? Thanks!

[2016-09-08 10:04] Patrick2990 commented on #223
@vikmeup thank you very much. The issue is fixed in swift3 branch now!

[2016-09-12 07:48] miwand commented on #138
Had the same issue - start with landscape mode and then you go to portrait mode while alert is present the cancel button doesn't work anymore. It seems like the last button does not register.

[2016-09-12 16:20] ricgreenfield opened #233 "Xcode 8 and Swift 3"
Hi everyone, please any update for Xcode 8 and swift 3?. I try to instal the 0.6.0 version but seems to be no existing yet.
Thanks

[2016-09-12 16:26] luka1995 opened #234 "Xcode 8 and swift 3"
Hi,

I can't use showCloseButton in SCLAlertView.SCLAppearance.

let appearance = SCLAlertView.SCLAppearance(
                    kTitleFont: ACFont.fontMediumWithSize(16),
                    kTextFont: ACFont.fontRegularWithSize(14),
                    kButtonFont: ACFont.fontRegularWithSize(15),
                    contentViewColor: UIColor.white,
                    showCloseButton: false

[2016-09-12 16:30] ricgreenfield commented on #234
Hi luka1995, how can you resolve the 2 issues when transform to swift 3? I have the two issues at line 501 and 554 of SCLAlertViews.swift.
Thanks

[2016-09-12 16:34] ricgreenfield commented on #233
So, installed the 0.6.0 but now 2 issues when transform to swift 3 at SCLAlertView.swift at lines 501 and 554

[2016-09-14 01:12] johnlev commented on #234
I have the same issues. +1

[2016-09-15 05:16] vikmeup commented on #233
Swift 3.0 compatible version up on master.

[2016-09-15 05:16] #233 closed

[2016-09-15 06:50] ossmalpha opened #236 "Swift 3"
When is this going to be updated for Swift 3 and merged in master?

[2016-09-15 10:49] RemyDCF commented on #236
The Swift 3 Version is already merged to master branch ( #235 )

[2016-09-15 15:58] jvmk commented on #236
@RemyDCF When installing through cocoapods, you still get a Swift 2.x version that Xcode 8 offers to convert. It's version number is 0.6.0. I tried deleting the cocoapods cache, but unfortunately that didn't help. Any ideas?

[2016-09-15 16:24] jvmk commented on #236
A temporary workaround is to point to the master branch:
`pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift'`

[2016-09-15 18:29] vikmeup commented on #236
I will update pod spec tonight. But for now you can use @jvmk workaround.

[2016-09-15 19:41] eman6576 commented on #236
Make sure that the pod target's `Use Legacy Swift Language Version` is set to `NO` after doing @jvmk 's workaround.

[2016-09-16 13:54] Lengo46 commented on #234
+1

[2016-09-16 16:11] iThanh opened #237 "Error when show Alert"
Hello developer and everybody,

When I try to show alert, I receive this error:

In line:
`let rv = UIApplication.shared.keyWindow! as UIWindow`

Help me, please!

[2016-09-16 16:15] iThanh commented on #86
Same issue.
Anybody fixed it, please?

[2016-09-18 13:11] dushansri opened #238 "iOS 10 (Xcode 8 - Swift 3)"
Not compatible with iOS 10 and Swift 3. Please fix..

[2016-09-18 15:31] jvmk commented on #238
Duplicate. See [this issue](https://github.com/vikmeup/SCLAlertView-Swift/issues/236)

[2016-09-18 20:48] AustinVaday commented on #231
Any solutions?

[2016-09-18 20:54] AustinVaday commented on #231
Found it!

In your alert appearance, make sure to set
`shouldAutoDismiss: false`

For example:
[code]

[2016-09-18 23:58] meismyles commented on #234
+1

[2016-09-19 08:10] #231 closed

[2016-09-19 12:30] edelibasi commented on #234
+1

[2016-09-20 12:42] hslightnin opened #241 "Result of call to 'showSuccess Warning"
@discardableResult can be added before each function to clear warnings.
http://stackoverflow.com/a/37943718/3997571

[2016-09-20 16:27] #241 closed

[2016-09-20 19:17] Patrick2990 commented on #223
@kressm add this to your pod file:
pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git', :branch => 'swift3'

[2016-09-20 20:12] saravanankk opened #243 "Add @discardableResult to the declaration of the open function to silence the compiler in swift 3.0"
Please Add @discardableResult to the declaration of the open function to silence the compiler in swift 3.0 .

[2016-09-20 20:13] vikmeup commented on #243
https://github.com/vikmeup/SCLAlertView-Swift/pull/242

[2016-09-20 20:13] #243 closed

[2016-09-21 09:50] ricgreenfield commented on #236
Use @jvmk (pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift') don't work. Xcode ask to convert to latest Swift 3 syntax

[2016-09-21 09:54] jvmk commented on #236
@ricgreenfield just go ahead and let xcode do that. You should see that it finds that no source code changes are needed and that you only need to update the Swift version of the project.

[2016-09-21 17:33] ricgreenfield commented on #236
Thanks @jvmk. Works

[2016-09-21 22:17] meismyles commented on #234
Surely we can't be the only few people having this issue? Seems like struct initializers no longer allow you to skip parameters that have default parameters set?

[2016-09-26 06:53] zeusent commented on #236
@vikmeup is this going to take long now? I think an easy `Podspec` update would fix this once and for all. Is there something specific you are waiting for?

[2016-09-27 12:48] wangbourne commented on #236
@RemyDCF , the latest version on pod is 0.6.0, which is not for 3.0

I think it's only for a temp solution: Use @jvmk (pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift')

so it's better to update pod again

thanks

[2016-09-30 17:53] bstingle opened #247 "Issue using Buttons within a Protocol"
Given the general use cases for Alerts, it is very useful to use them in Protocols
(e.g. taking this advice: http://krakendev.io/blog/subclassing-can-suck-and-heres-why)

However, since AddButton() uses Selector to specify the method to execute, it is difficult / impossible to write effective protocols with default function.  So far I've been unable to do this in a useful way.   The best advice I'

[2016-10-02 16:12] joe528 commented on #234
+1, how did you guy fix this?

[2016-10-02 21:43] meismyles commented on #234
@joe528  I didn't. I stopped using the library and started using a different alert library.

[2016-10-02 22:12] sarfrazb commented on #214
perhaps put self.tableView.reloadData() into the method that is called when the user taps "Add"?

[2016-10-02 22:33] sarfrazb opened #248 "Custom UIImage To Fill CircleIcon"
Hi

When I use a custom icon in place of the default icons, it seems to only take up a small part of the icon (see image below).
This is regardless of the size of source image. I've tested with 64x64, as well as 512x512 and it has the same result.
Can anyone provide some assistance as to what I might be doing wrong?

Thank you :)

![image](https://cloud.githubusercontent.com/assets/13691330/190242

[2016-10-03 00:33] HardcoreIOS commented on #214
@sarfrazb Still doesn't work

[2016-10-04 09:42] zeusent commented on #236
Why isn't the Swift 3 version a new release already? @vikmeup ?

[2016-10-04 17:00] Lengo46 commented on #234
@joe528, i've altered SCLAlertView.swift manually (line 160+) to have my own styling as a work around.This doesn't work if you want different stying on different alerts.

[2016-10-05 05:06] Damnum opened #249 "Delete old tag 0.22"
Trying to get the newest version of `SCLAlertView-Swift` with Carthage like this:

`github "vikmeup/SCLAlertView-Swift"`

This fails because Carthage thinks the latest version is 0.22 because of the 2 years old tag.

Solution would be to delete the old tag (or rename).

[2016-10-05 16:40] cosmo1234 opened #250 "How to add image to alert"

[2016-10-06 13:36] mvoelkl opened #251 "Make all SCLAppearance properties accessible outside"
Is there a reason, some of the properties (the lets) are hidden behind this "not so nice" init method?
https://github.com/vikmeup/SCLAlertView-Swift/blob/master/SCLAlertView/SCLAlertView.swift#L160

1. Would be much clearer to understand values in calling code.
2. As of Swift 3 it's not possible (in my case) to use an other parameter order than in the method's signature. And it's a PITA to find ou

[2016-10-07 15:30] xpressmobtech opened #252 "Can you customize button shape to make them circles instead of rectangles?"
Can you customize button shape to make them circles instead of rectangles?

[2016-10-07 15:50] xpressmobtech commented on #252
also make buttons side to side instead of top to bottom? (they are like this "=", but i want them like this "- - -")

[2016-10-09 13:12] Nonchalant commented on #236
Please new release version including Swift 3 verstion @vikmeup

[2016-10-09 15:51] vikmeup commented on #236
Will do tonight

[2016-10-11 16:16] vikmeup commented on #238
Updated. Latest version `0.7`

[2016-10-11 16:16] #238 closed

[2016-10-11 16:16] vikmeup commented on #236
Updated. Latest version `0.7`

[2016-10-11 16:16] #236 closed

[2016-10-11 16:34] cdepace commented on #234
Do you know when it will be compatible with Swift3?

[2016-10-11 16:37] vikmeup commented on #234
@cdepace just published `0.7.0` with support for swift 3

[2016-10-11 16:37] #234 closed

[2016-10-12 14:10] fishfisher commented on #248
You can change the icon size with the folowing:

`let appearance = SCLAlertView.SCLAppearance(
            kCircleIconHeight: 55.0,
            showCircularIcon: true
        )`

This gives you an icon size of 55x55. You can see in the public init SCLAppearance that  the kCircleIconHeight: CGFloat = 20.0 and the circle surrounding it is kCircleHeight: CGFloat = 56.0.

[2016-10-16 20:06] cosmo1234 opened #255 "Can i add a UIStepper to the alert view"

[2016-10-19 01:14] fever324 commented on #249
Please remove [tag 0.22](https://github.com/vikmeup/SCLAlertView-Swift/releases/tag/0.22)

[2016-10-21 06:58] paulw11 opened #256 "`setDismissBlock` should accept an optional"
Once a dismiss closure is set, it is impossible to remove it.
`setDismissBlock` should accept an optional in order to allow `setDismissBlock(nil)` to remove the  current closure

[2016-10-23 08:05] glennposadas commented on #252
Hi @xpressmobtech , I have been using the SCLAlertView - objective-c in my Swift Project. I'm not sure about this swift version of the library, but if you use the SCALertView Objective C version, you can do that. You can also make the buttons to circles.

[2016-10-24 20:37] dnewberr opened #257 "300+ issues preventing compilation"
Hello,

When trying to add via cocoapods, I seem to run into strange issues that  (as far as I can tell) no one else really does. Here's an example:
![screen shot 2016-10-24 at 1 28 21 pm](https://cloud.githubusercontent.com/assets/5789176/19662746/c4b70078-99ed-11e6-8193-11e80d4ab38b.png)
Any advice?

[2016-10-26 19:21] AndreasDpp commented on #257
If you are using swift 3, you can
<img width="479" alt="skaermbillede 2016-10-26 kl 21 21 39" src="https://cloud.githubusercontent.com/assets/7473973/19741742/35bb08b6-9bc2-11e6-9077-69a79ec8e16c.png">

[2016-10-31 11:15] hslightnin opened #258 "can't select cells in tableview subview"
It seems like the touch events don't make it to the tableview.

[2016-11-01 11:18] emouawad opened #260 "Support Tvos"
Any reason this can't support Tvos?

[2016-11-02 05:34] ixialuo opened #261 "show error when i used sclalertView"
let rv = UIApplication.shared.keyWindow! as UIWindow

fatal error: unexpectedly found nil while unwrapping an Optional value

[2016-11-03 01:02] BethKnight1234 commented on #257
I'm having the same problem, but I don't have a SideMenu in my project. Is it something I need to add?

[2016-11-03 13:11] yoha commented on #261
Please post your entire swift file where the error occurs.

[2016-11-03 18:51] AndreasDpp commented on #257
No its just another liberary/framework.

2016-11-03 2:02 GMT+01:00 Beth Knight <notifications@github.com>:

[2016-11-03 23:09] iamlolz opened #262 "Bottom Padding too big when setting showCircularIcon to False"
When I set showCircularIcon to false it causes the bottom padding for the alert view to be about twice as high. Is this intended behaviour, a bug, or am I doing something wrong?

It looks like this:
<img width="251" alt="screen shot 2016-11-04 at 08 57 21" src="https://cloud.githubusercontent.com/assets/1897655/19988743/9efd4274-a26d-11e6-91cc-9cbc740a186b.png">

I'm using Xcode 8, swift 3, and SC

[2016-11-10 19:08] rogomantik opened #263 "how to hide Statusbar?"
In the example when showing the alert (info type) on an iphone 4 and the keyboard appears the alert scroll up below the statusbar
I tried to implement a setNeedsStatusBarAppearanceUpdate() mechanism but with no luck

[2016-11-11 20:58] gyrotechnologies opened #264 "Swift 3 issue even with version 0.7"
I have update the framework to the latest version(i.e. 0.7). Despite this Xcode 8 still asks to convert to the latest version of swift. If I ask to convert later Xcode throws the error :
“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the

[2016-11-14 08:08] ankitbansal806 opened #265 "When alerts are showing, the self.view is still working. It should be not working until the alert will be hide.."
When alerts are showing, the self.view is still working. It should be not working until the alert will be hide..

[2016-11-15 05:09] SuperWomble commented on #260
@emouawad Are you prepared to make the changes?

[2016-11-16 21:28] #228 closed

[2016-11-16 22:27] simonnarang opened #266 "value of type 'String' has no member heightWithConstrainedWidth"
![screen shot 2016-11-16 at 5 26 47 pm](https://cloud.githubusercontent.com/assets/9156815/20368425/ea04d008-ac21-11e6-9a90-6340bc549760.png)

Can someone help me figure out what's going on?

[2016-11-16 22:27] simonnarang commented on #266
This is within SCAlertView.swift

[2016-11-16 22:43] #266 closed

[2016-11-18 17:43] Dev- commented on #264
I had this problem as well.

Switched to SCLAlert 0.5 with Swift 2.3 on Xcode 8.1 with no issues now though.

[2016-11-19 20:59] gyrotechnologies commented on #264
I managed to love the problem to updating to the latest version of cocoa pods(1.1.1). With this version I was able to use SCLAlertView 0.7

[2016-11-20 11:33] wuyazi opened #269 "I want to hide the alert view by touch the space place not button"

[2016-11-20 13:04] yoha commented on #269
Just add a tap gesture recognizer on the superview (usually UIViewController) of the alert view to dismiss the alert view.

[2016-11-21 14:57] #264 closed

[2016-11-22 04:01] xiliyue opened #270 "kCircleHeightBackground could not be changed"
kCircleHeightBackground, the background circle's height could not be changed

[2016-11-29 15:48] dermdaly opened #271 "Creating a SCAlertView with an title of "" can lead to a crash"
In method showTitle, the following code is executed

[code]

Note: If title is "", then it is considered empty, and self.labelTitle.text is never set.

Then...in viewWillLayoutSubviews, the follow code will lead to an exception:
 `           titleActualHeight = labelTitle.text!.heightWithConstrainedWidth(width: appearance.kWindowWidth - 24, font: labelTitle.font) + 10`

as labelTitle.text == nil.

[2016-11-30 10:15] EstefaniaGilVaquero commented on #266
Hi simnonnarang, how did you fix this? i have the same problem.

Thanks!

[2016-12-01 05:22] freegyp opened #272 "Module compiled with Swift 3.0 cannot be imported in Swift 3.0.1"
It had this error after I use Xcode 8.1.

[2016-12-08 05:48] wanqingrongruo opened #273 "cash because of unwrapping when i show without a empty string for title"
the  cash code => " let titleActualHeight = labelTitle.text!.heightWithConstrainedWidth(width: appearance.kWindowWidth - 24, font: labelTitle.font) + 10"
the way i use : alert.showInfo("", subTitle: "toke photo"),there is not title, labelTitle.text! will unwrapping value..

[2016-12-09 03:15] sheinix opened #274 "Set the height of the alert dynamically based on customSubview height"
I was wondering if there's a way to accomplish this without subclassing or re-touching code. I'm using SCLAlertView with a customSubview which has a tableView inside, and I would like to resize the height of the SCLAlertView based on the height of the tableView, which at the same time is calculated on the number of rows it has on each case, with a maximum height  of course.

Thanks

Regards

[2016-12-09 04:10] sheinix commented on #274
This can be discarded, I've just realise that the AlertView resizes itself with the frame of the customSubiew with a maxHeight.
Sorry.

Thanks

[2016-12-09 04:10] #274 closed

[2016-12-13 20:09] Aximem commented on #138
👍

[2016-12-16 09:17] hmuronaka opened #275 "How to check whether SCLAlertView is showing?"
I'm looking for a method/attribute like "SCLAlertView.isShowing".

[2016-12-16 10:34] littlebearuk opened #276 "Is It Possible To Use A Custom InputView For The Textfields?"
Hi,

Great library 👍

I am just wondering whether it is possible to use a custom input view for the textfields?

[2016-12-16 11:00] #276 closed

[2016-12-16 11:00] littlebearuk commented on #276
Fixed ^^

[2016-12-16 13:37] Sumeet21 opened #277 "Prevent from close when button is tapped"
when using text field
alert.showEdit("title", subTitle: "This alert view shows a text box")

if text field is empty i don't want to close dialog and show user a message that 'please enter text',
how to prevent from close when dialog button is clicked?

[2016-12-16 13:40] Sumeet21 commented on #277
i have modified source code just commit sideview() in buttonTapped(_) method

[code]

[2016-12-16 13:40] #277 closed

[2016-12-16 19:49] ninoguba commented on #234
@vikmeup thanks for supporting Swift 3 but I think this issue is still open.   Before we can SCLAppearance() with only the parameters we are customizing but now in Swift 3 it wont even compile complaining about missing parameters.

[2016-12-19 18:24] delucamike opened #279 "Add 'showQuestion' as an option"
The objective-c version of this has showQuestion as an option and as I am converting an app to swift, this option is not included in the swift version.  Is it possible to get that added? Thanks!

[2016-12-19 19:11] #279 closed

[2016-12-20 17:39] midgard opened #281 "empty title error (showAlert)"
My code:

`let please_wait_appearance = SCLAlertView.SCLAppearance(
	kTitleTop: 50,
	showCloseButton: false,
	showCircularIcon: false
);

let please_wait_alertView = SCLAlertView(appearance: please_wait_appearance);

please_wait_alertView.showTitle(
	"",
	subTitle: "PLEASE WAIT",
	duration: 0.0,
	completeText: "OK",
	style: .wait,
	colorStyle: 0x2866BF,
	colorTextButton: 0xFFFFFF
);`

I got this e

[2016-12-28 21:31] willrichman commented on #227
+1. `kButtonHeight` is treated as the button's height + margins, and the actual button height is hardcoded to 35 pts. We should have a separate parameter for the margins and the button height itself. I am working on a project for the elderly, and 35 pts is too small of a touch target for them.

A size of 35pts for a touch target also directly violates the [Apple Human Interface Guidelines](https:/

[2016-12-31 13:24] jaimeagudo commented on #270
I can, please illustrate what you tried and what you got

[2016-12-31 13:30] jaimeagudo opened #282 "change endless list of parameters for Dictionary"
It's very error prone and cumbersome to have such a long list of parameters, why don't we change it for a dictionary? It's hard to figure out the right order of the parameters when you pass more then 3 due possible combinations

[2017-01-04 18:41] jrodriguezyam commented on #74
Hi,
I have same problem, when i open the alert in  landscape view and rotate to portrait the button of close stop working

[2017-01-07 09:13] ghost opened #284 "Not compatible with Swift 3"
This code is not compatible for Swift 3..

Can anyone convert the code so it's compatible with Swift 3?

Edit: **Here you can find the Swift 3 source code: https://github.com/vikmeup/SCLAlertView-Swift/releases/tag/0.7.0 :)**

[2017-01-08 02:54] Tauf opened #285 "Alert Not showing all the buttons"
I want to add 20 buttons and allow users to scroll and select any of them, however, only the few last buttons is shown and there is no way to select the first buttons. Can you help me?

[2017-01-09 16:44] tikipatel commented on #285
If the user has to scroll through 20 buttons in an alert, you should rethink your design.

[2017-01-14 21:07] nico75005 commented on #269
When you initialise the controller, do it with an SCLAppearance where you set ```hideWhenBackgroundViewIsTapped```

[code]

[2017-01-18 12:12] vsarnataro opened #286 "Can i set a Action after duration finish without button?"

[2017-02-03 20:08] emadd opened #290 "Customize Circle Background Color?"

[2017-02-08 19:23] MansoorJafari opened #291 "Error for textfiled empty"
Hi

When user click add button and textfiled is emtpty, I want show a toast view and alertview not cliose
my code is
`
if (txt_question.text!.isEmpty) || (txt_answer.text!.isEmpty) {

                self.view.showToast("Empty", tag: "", position: .bottom, popTime: 5, dismissOnTap: false, bgColor: UIColor.init(red: 255, green: 0, blue: 0), textColor: UIColor.white, font: UIFont(name: "vazir", size

[2017-02-08 21:01] #291 closed

[2017-02-11 17:19] dssp100 opened #292 "import SCLAlertView missing in read me file"
Hi,
I just struggled with getting the cocoa file to work cause I did not add the "import SCLAlertView" to my viewController file.
I'm new to programming so it would be nice if it could be added to the installation section so other developers that are not new to programming don't have to struggle.

For the rest, absolute awesome tool, thanks for proving it!!!!!

[2017-02-14 12:13] f15handch1p5 opened #293 "How to embed a UIPickerView into custom alert?"
How do i go about embedding a uipickerview into a custom alert? Is it possible? Thanks

[2017-02-14 14:34] f15handch1p5 opened #294 "How to add custom image to icon using custom alert?"
I can't seem to get this working, every time i try and do it, it only fills up half the alert icon size. I've tried different sizes but nothing works.

[2017-02-15 11:19] jVirus commented on #294
I have faced with similar issue. I looked into the source code and find out that images are drawn programmatically using `UIBezierPath`s and their size is `80x80` (which I think is important in this particular implementation). For myself I solved the issue by drawing the image using vector graphics and having the size equals to `80` px.

[2017-02-15 11:23] jVirus commented on #284
The issue should be closed since `0.7.0` version is fully compatible with `Swift 3`

[2017-02-15 16:26] H2wk opened #295 "Sack Popups with oldest first on the top and next one below it"
This is more of a nice to have, but i the popups/alerts could be used stacked on the view controller stack from oldest window to newest it would be a great feature.

So at the moment it stacks **alert view 1** and then ontop of that for the user to view **alert view 2** and then on top of that **alert view 3** ...

It would be nice if it where to stack **alert view 1** and then if the next alert i

[2017-02-18 08:56] Sweeper777 opened #296 "Why is the custom icon cropped to a circle?"
This is the image I want to use as the icon. It has a transparent background but because it's all white Xcode shows it as having a grey background.

<img width="76" alt="screen shot 2017-02-18 at 8 50 34 am" src="https://cloud.githubusercontent.com/assets/13585047/23091887/d2c42dd2-f5b7-11e6-9da5-8510643fe789.png">

This is how it looks in the alert view:

<img width="74" alt="screen shot 2017-02-

[2017-02-20 00:35] LukeSmith16 opened #297 "Can't embed a UIDatePicker inside of alert?"
I'm trying to implement a UIDatePicker into my custom alert but failing to do so. This is the code i'm using to try and accomplish it:
`
let appearance = SCLAlertView.SCLAppearance(kCircleIconHeight: 60.0,  kTitleFont: UIFont(name: "HelveticaNeue", size: 20)!, kTextFont: UIFont(name: "HelveticaNeue-Light", size: 14)!, kButtonFont: UIFont(name: "HelveticaNeue-Light", size: 14)!, showCloseButton: fa

[2017-02-20 15:42] matoushybl opened #298 "Subtitle is hidden behind icon when title is empty."
When I set subtitle, but leave title to "", the subtitle is hidden behind the icon circle., which makes it impossible to read.

After a quick look at the code I found out that the problem might be in computing vertical position of subviews.

[2017-02-20 18:32] jhoughjr commented on #187
you can hold a reference to the textfield you add to the alert view, and then set the keyboard type on it before showing.

[2017-02-20 18:34] jhoughjr opened #299 "Is there a way to have an added text field become first responder on show?"
I've tried telling the textfield I added to become first responder before show
but that doesn't quite work as the alert view misses the notification and is occluded by the keyboard.

[2017-02-22 06:48] Sweeper777 opened #300 "Don't show empty space if title is empty."
I use this code to show an alert:

    let alert = SCLAlertView(appearance: SCLAlertView.SCLAppearance(showCloseButton: false, showCircularIcon: false))
    alert.addButton("OK", action: {})
    _ = alert.showCustom("", subTitle: "Some text", color: UIColor(hex: "5abb5a"), icon: UIImage(color: nil))

The alert shown has a lot of empty space above "Some text". It looks kind of bad IMO. It would be

[2017-02-25 17:53] waseefakhtar opened #301 "UIView background color and space between Title and Text"
I can’t any properties to change the view’s background color and set a margin between Title and Text to give them some space. Or am I missing something?

[2017-02-28 11:02] cunum opened #302 "UITapGestureRecognizer steals taps from subviews"
Hello there fine developer,

I had the following problem with SCLAlertView. The didSelectRowAtIndexPath function of my UITableView as a custom subview of SCLAlertView was not triggered properly. This was because the UITapGestureRecognizer of SCLAlertView stole all the taps. Maybe you would consider adding a

tapGesture.cancelsTouchesInView = false

Best regards Chris

[2017-02-28 19:14] YoannLth commented on #277
Hi, I faced the same problem and I resolved it differently.

You can just set "shouldAutoDismiss" in appearance and then, manually dismiss the alert.
Maybe it will not be helpful for you, but it can be for others ;)

[code]

[2017-03-02 07:54] ispha commented on #59
I could do this following their documentation by making an appearance style for the Alert then assigning it to my alert . It works perfectly .

   let appearance = SCLAlertView.SCLAppearance(

            showCloseButton: false
        )
let alertView = SCLAlertView(appearance: appearance)

[2017-03-02 07:57] ispha commented on #228
I could do this following their documentation by making an appearance style for the Alert then assigning it to my alert . It works perfectly .

let appearance = SCLAlertView.SCLAppearance(

        showCloseButton: false
    )
let alertView = SCLAlertView(appearance: appearance)

[2017-03-10 07:17] icefox57 opened #304 "will it support NSMutableAttributedString?"
will it support NSMutableAttributedString?

[2017-03-20 20:44] dploeger commented on #299
I've but the .becomeFirstResponder() call after the .showInfo() call and it works - at least in the simulator.

[2017-03-23 00:03] Huddie opened #306 "Resizing UITextView"
Im changing the value for kTextViewdHeight but nothing changes on the alert. The window grows but not the textView

[2017-03-25 05:01] crystalSETH opened #307 "Unexpectedly found nil while unwrapping an Optional value."
Display alert view, dismiss. Display same alert view, tap "Done", unexpected nil. Didn't do too much digging but found in `func buttonTapped` that `btn.selector` is causing the error. Going to run through this and see why this attribute is getting set to nil after first dismissal. Any insights appreciated.

[2017-03-25 05:30] crystalSETH commented on #307
Okay, it looks like this is by design. When `func hideView` is called, some clean up happens and all buttons' `action`, `target`, and `selector` attributes are set to `nil`. I understand your concern with not wanting to keep these strong references, but these alertViews have no effect on performance outside of animation. Maybe a clean up function could be implemented and handled by the presenting

[2017-03-29 17:03] BrandonMayU opened #309 "App crashes after alert appears twice"
If I get an error the alert view pops up and everything is fine, then if I get an error again in the app i present the .showError, however, when someone dismisses the alert the app crashes. This only happens the second time they dismiss the app. Any solutions?

[2017-03-29 20:31] crystalSETH commented on #309
When `func hideView` is called, some clean up happens and all buttons' `action`, `target`, and `selector` attributes are set to `nil`. I had to comment out those lines that were setting these values to `nil`. Hope this helps.

[2017-03-30 13:27] pabloroca commented on #134
Same issue here. Any update?

[2017-03-30 14:40] pabloroca commented on #134
Solved

`public var foalertAppearanceImage = SCLAlertView.SCLAppearance(
    kTitleFont: FOFonts.title!,
    kTextFont: FOFonts.text!,
    kButtonFont: FOFonts.buttomtext!,
    showCloseButton: false,
    shouldAutoDismiss: false,
    kCircleIconHeight: 60,
    hideWhenBackgroundViewIsTapped: false
)

let alert = SCLAlertView(appearance: foalertAppearanceImage)
`

the key is kCircleIconHeight to 6

[2017-03-31 09:44] radudominte commented on #296
I have the same problem, anyone knows how to fix this issue?

[2017-04-11 02:24] salimgcet opened #312 "Alert is not visible properly"
Hello Team,

I am using below version in my current project.
'SCLAlertView-Objective-C', '~> 1.0.4'

Currently, when I run my application in iOS 9.0 devices then I am getting below issue.
Step1: Show alert with two buttons (Ok and Cancel)
Step2: Show another alert when user click on Ok button.
Step 3: Alert will be shown properly. (Ok button)
step 4: Come back to the previous page and show an aler

[2017-04-13 20:57] eman6576 opened #314 "Method signature changed."
I noticed that the method `addButton` changed to this:

[code]

But when doing a pod install, an older version gets pulled and the method is this:

[code]

Not sure why this happens.

[2017-04-14 12:16] CaptainYukinoshitaHachiman opened #315 "Localize the text?"
I found that it is hard to localize the text in the alert.
Like the text "Done" in Error alert,I have no way to edit it.

[2017-04-15 12:41] ghohh commented on #315
just use the the method showerror with close buton option

`alert.showError("opps", subTitle: "there is an issue", closeButtonTitle: "ok")
`

[2017-04-15 21:12] CaptainYukinoshitaHachiman commented on #315
OK,I got it.
Thx

[2017-04-15 21:12] #315 closed

[2017-04-16 14:49] ghohh commented on #234
this issue is still present

[2017-04-26 19:22] alexvazquez commented on #236
Hi, what is the version that I need to target so It still working with Swift 2.3? Thanks

[2017-04-27 08:13] RemyDCF commented on #236
You can use the swift-2.3 branch.

[2017-04-28 15:17] keegho opened #317 "Is there a way to add UIPickerView to the alert?"
I wanted to add a picker view to the SCLAlertView controller to have a multiple choice option to the user to choose from different booking time intervals.

Is there a way to implement that?

[2017-04-28 23:47] keegho commented on #317
I did it using customSubview. Thanks you.

[2017-04-28 23:47] #317 closed

[2017-04-29 21:13] keegho commented on #294
Change `kCircleIconHeight` variable in the `SCLAppearance`

For Example:
[code]

[2017-05-04 07:28] appaiahnb commented on #203
Any leads on changing border color for buttons ?

[2017-05-06 19:05] saxograph opened #318 "Duration does not work"
[code]
It cause "Incorrect label in call".
![screen shot 2017-05-06 at 15 03 56](https://cloud.githubusercontent.com/assets/1463704/25775172/622c9b20-326d-11e7-91e6-452c9e9ea15b.png)

[2017-05-09 13:05] anamalihassan opened #321 "how to support longer title and hide subtitle?"
I have a case where I only need the title that can be longer. I can increase the height but it should be supported using auto-layouts. Also I need to hide subtitle.
![Uploading Simulator Screen Shot May 9, 2017, 5.03.53 PM.png…](here is an example)

[2017-05-12 16:34] waseefakhtar opened #322 "Cannot invoke value of type 'SCLAlertView.SCLAppearance.Type' with argument list"
I just migrated from Swift 2.3 to Swift 3, and this is the error that I encounter:

I modify just some of the arguments in SCLAppearance as:

        let appearance = SCLAlertView.SCLAppearance(
            kWindowWidth: width - 64,
            showCircularIcon: true,
            kCircleHeight: 0,
            kCircleIconHeight: width / 2,
            kTitleTop: width / 3.5,
            kTitleFont:

[2017-05-16 17:07] waseefakhtar commented on #322
I dealt with this in Swift 3 by passing arguments in ORDER as:

        SCLAlertView.SCLAppearance(kDefaultShadowOpacity: <#T##CGFloat#>, kCircleTopPosition: <#T##CGFloat#>, kCircleBackgroundTopPosition: <#T##CGFloat#>, kCircleHeight: <#T##CGFloat#>, kCircleIconHeight: <#T##CGFloat#>, kTitleTop: <#T##CGFloat#>, kTitleHeight: <#T##CGFloat#>, kWindowWidth: <#T##CGFloat#>, kWindowHeight: <#T##CGFloat

[2017-05-17 16:24] hongzhou85 commented on #322
@waseefakhtar I don't get it, How to just leave the values at default if we do not want to change all?

[2017-05-20 13:24] KeithT4N opened #323 "Why is the action a selector instead of a closure?"
Selector is very objective-C and very unlike idiomatic Swift. It must be updated to closures instead.

[2017-05-23 16:33] shaunbevan commented on #306
Fixed in #324

[2017-05-23 16:34] shaunbevan commented on #306
Fixed in #324

[2017-05-23 19:05] akotulu opened #325 "Custom button tapped, selector sender tag always 0"
Hey, thanks for the great library!

Found a issue regarding custom buttons, I need to add multiple buttons which each has a object binded to it, but there is currently no `variable: Any` to add it and setting the `tag` of UIButton  will be reset by this line of code.

[code]

Called `#selector` will always have empty `UIControl`, you can use
`.sendActionsForControlEvents(.TouchUpInside)`

Another

[2017-05-23 23:33] #306 closed

[2017-05-29 15:16] tomdev-biz commented on #262
It seems this line of code making this issue at line 346.
[code]

I think there is no need to set titleOffset to -12 even circleImage is hidden, but not sure why he wanted to do this.
So just making `let titleOffset: CGFloat = 0` would fix your problem.

[2017-05-30 17:51] vikmeup commented on #262
@tomdev-biz would you able to create PR for that?

[2017-05-30 18:02] tomdev-biz commented on #262
@vikmeup I have just created a PR.

[2017-05-30 18:39] tomdev-biz commented on #322
This will be used in initialization function, so you should keep orders like this.

[code]

[2017-05-31 01:21] iamlolz commented on #262
@tomdev-biz awesome find. thanks for clearing that up, I'll test this myself shortly.

[2017-05-31 05:34] #262 closed

[2017-06-01 14:37] fxpage commented on #262
@vikmeup can you release this merge?

[2017-06-01 18:39] siemya opened #329 "EXC_BAD_INSTRUCTON error"
@vikmeup hey,

İ show the alert according to a response from server, when my app opens. But sometimes i get this error(EXC_BAD_INSTRUCTON) and the app crashes.

App crashes on this line of code:

`let uniqueTag: Int = Int(arc4random() % UInt32.max)`

My code:

[code]

[2017-06-01 23:33] #329 closed

[2017-06-06 19:34] alexvazquez opened #330 "What version compatible with Swift 3"
I would like to know what version is working and compatible with Swift 3?

Thanks

[2017-06-09 00:27] littlemozart commented on #318
the same as you, did you know how to fix it?

[2017-06-09 12:31] Isabellle opened #331 "Module compile with Swift 3.0.2 cannot be imported in Swift 3.1"
Can I do something for this? Thank you

[2017-06-09 17:23] vikmeup commented on #331
Pleas take a look at this: https://stackoverflow.com/questions/40250381/module-compiled-with-swift-3-0-cannot-be-imported-in-swift-3-0-1

[2017-06-09 17:23] #331 closed

[2017-06-09 17:24] vikmeup commented on #330
latest `master` version compatible with Swift 3

[2017-06-09 17:24] #330 closed

[2017-06-10 23:46] algrid commented on #318
It looks like it was changed to "timeout": https://github.com/vikmeup/SCLAlertView-Swift/commit/a98030ed4701682d60dd11f4d2aa0149f24a1bdc

[2017-06-11 20:26] algrid commented on #298
@matoushybl Could you try this PR? - https://github.com/vikmeup/SCLAlertView-Swift/pull/332

[2017-06-11 21:51] algrid commented on #300
Is this problem still present in the latest version? I can't reproduce it.

[2017-06-11 22:00] Sweeper777 commented on #300
I will try to reproduce it tomorrow after I updated the pod!

[2017-06-11 22:12] algrid commented on #297
This works for me:
[code]

[2017-06-12 06:39] Sweeper777 commented on #300
I can still see a lot of whitespace:

<img width="234" alt="2017-06-12 7 38 26" src="https://user-images.githubusercontent.com/13585047/27021745-4be80d8a-4f42-11e7-893e-86d043000cf4.png">

[2017-06-12 08:33] appaiahnb commented on #296
i suggest you to comment this
"circleIconView?.layer.cornerRadius = circleIconView!.bounds.height / 2"

[2017-06-12 10:10] Sweeper777 commented on #296
Which line is that? Can you tell me the line number?

[2017-06-12 10:26] appaiahnb commented on #296
Line number can differs, check this Function name below.

// showTitle(view, title, subTitle, duration, style)
open func showTitle(_ title: String, subTitle: String, duration: TimeInterval?, completeText: String?, style: SCLAlertViewStyle, colorStyle: UInt?=0x000000, colorTextButton: UInt?=0xFFFFFF, circleIconImage: UIImage? = nil, animationStyle: SCLAnimationStyle = .topToBottom) -> SCLAlertViewR

[2017-06-12 12:20] Sweeper777 commented on #296
It was line 708 on mine as well 😄 . The solution worked. Thank you!

[2017-06-12 15:35] DhruveShah opened #333 "Animate the Alert on button press rather than dismissing it"
Is there a way to animate the SCLAlertView rather than dismissing it?

I want to animate the SCLAlertView to shake a little, when the user tries to press on the save button when a textfield that was added to the alert is empty.

Any help with this is appreciated

[2017-06-12 21:32] algrid commented on #300
@Sweeper777 I see now - the problem is present in the current pod version(0.7.0). In master branch it's fixed.

[2017-06-12 21:33] #300 closed

[2017-06-12 22:41] algrid commented on #333
Currently you can do it like this:

[code]

having:

[code]

However it's kind of a hack because it accesses SCLAlertView's internal view structure which can be changed in the future.

[2017-06-13 07:24] DhruveShah commented on #333
This is what I currently have:

[code]

However, the button doesn't appear until after it's been clicked at least once If I add it in after setting the SCLAlertViewResponder, however if I add the button in before, it doesn't run as it's not been initialised so the .close() returns an error.
![screen shot 2017-06-13 at 09 22 43](https://user-images.githubusercontent.com/6872426/27070576-e8b788f2-50

[2017-06-13 09:29] rogomantik opened #334 "When setting subtitle viewText.frame is set twice"
[code]
which one is intendeed to be called?

[2017-06-13 09:33] DhruveShah commented on #333
The only way I can see to get this working as expected is by setting the SCLAlertViewResponder, adding the button, and then calling it again:

[code]

[2017-06-13 22:18] algrid commented on #333
@DhruveShah Just make alertViewResponder a property of your view controller, then add the button, then show the alert.

[2017-06-15 07:28] DhruveShah commented on #333
Thanks!

[2017-06-17 06:53] viniciusvieir opened #335 "Is it possible to set the buttons to be side by side?"
I'd like the buttons to be side by side, instead on top of each other, because my project is for iPad only and I think buttons which are one on top of another are easier to miss click. Thanks guys!

[2017-06-20 01:32] o1xhack opened #337 "How to make button unable to click if the textfield don't have anything?"
Hi,

I need with Swift version. I know how to do this with the UIAlertView.

I have functio to track:
[code]

Then I have something in my alertfunc:
[code]

currentaction is a bool type.

How can I do it with SCLAlertView?

[2017-06-23 12:07] appaiahnb commented on #296
@Sweeper777 Hi , can you reopen the same? So that we can send fix.

[2017-06-23 12:52] appaiahnb commented on #296
https://github.com/vikmeup/SCLAlertView-Swift/pull/338

[2017-06-27 02:56] #296 closed

[2017-06-29 10:30] warhost opened #339 "First Letter in Textfield always capitalized?"
I have the issue that by default the first letter of the input in a textfield always seems to be capitalized.

I am using the textfields for letting a user change it's email and password, which is why this is a bit annoying. For the password field, I would also like to have it be transformed into dots. Is that possible?

[2017-07-05 08:09] maksamster commented on #234
![image](https://user-images.githubusercontent.com/13431668/27855222-38691ada-619c-11e7-8652-40ca68577a6d.png)
Can you help me? tsk

[2017-07-05 08:10] maksamster commented on #234
![image](https://user-images.githubusercontent.com/13431668/27855264-6a3de2f2-619c-11e7-97b7-eb70aac60778.png)

Can you help me? this is optional.

[2017-07-05 14:13] johnlev commented on #234
You’re gonna need to unwrap those strings. Currently you are generating a strong using two optional values. I assume you are using swift, so if you are confident that they will have values you can unwrap them by using the ! like so:

let string = “\(myVariable!)”

Another option if you aren’t sure if the value will be nil or not, you can unwrap it using a value to default to if it is nil using the

[2017-07-06 01:32] maksamster commented on #234
func showInfoMessage(info: String, subTitle: String, closeTitle: String,duration: TimeInterval) {

        let appearance = SCLAlertView.SCLAppearance(
        showCloseButton: false
        )

        let alert = SCLAlertView(appearance: appearance)
        alert.addButton("拨打电话") {

            let telStr = CCUserAccountModel.sharedInstance.account!.serverMobile
            UIApplication.shared.

[2017-07-11 04:42] UIALert opened #340 "addTextField creating issue during device testing (works smoothly on simulator)"
let alert = SCLAlertView(appearance: AppContext.appearanceTripCreate)
        let txt = alert.addTextField("Enter trip name")
        alert.addButton("Done") {
            if txt.text != nil
            {
                           }
            else
            {
                SCLAlertView().showInfo("Please enter trip name", subTitle: "")

            }
        }
        alert.showEdit("Create

[2017-07-11 06:35] wy346351018 commented on #290
add "colorStyle" parameter in your showXXX function, just like
"_ = alert.showEdit("XXX", subTitle:"XXX", colorStyle:0x33CCFF)"

[2017-07-18 00:29] ankitagarwal101260 commented on #229
In the following code i am not able to change the background color of the button, when i am giving the background colour as UIColour(red:122.0, green:100.0, blue: 30.0 , alpha: 1.0)
UIColor takes values betwwen 0 and 1
it should be UIColour(red:122.0/255.0, green:100.0/255.0, blue: 30.0/255.0 , alpha: 1.0)

[2017-07-18 08:05] sarfrazb opened #341 "Using TableViewCell as Subview"
Hi,

I use Storyboards, and I have a prototype cell defined in a TableView. It's a header cell that summarises the rest of the table.

I am wanting to use this prototype cell as the subview of a SCLAlertView, i.e. so that it shows the summary of the table on the view underneath the alertView.

I tried using:

[code]
and then modifying the cell's properties:
[code]

and then finally calling `alertV

[2017-07-19 01:02] prsolucoes opened #342 "Wait animation is cropped on iPad"
Hi,

Check the animation problem here:

<img width="210" alt="screenshot 2017-07-18 22 02 37" src="https://user-images.githubusercontent.com/395096/28346072-d2aa4246-6c04-11e7-992b-6dd660276b82.png">

[2017-07-19 01:31] prsolucoes commented on #342
The problem was solved changing:

[code]

To

[code]

Can you put the indicator type as an appearance control?

[2017-07-19 01:52] prsolucoes commented on #342
I made a PR with all

[2017-07-20 09:03] imwangxuesen opened #344 "Close button title can be customized is better"
// Done button
        if appearance.showCloseButton {
            _ = addButton(completeText ?? "Done", target:self, selector:#selector(SCLAlertView.hideView))
        }

[2017-07-27 11:02] hilalbaig commented on #333
[code]

[2017-07-30 16:11] MasterSwift opened #346 "Xcode 9 beta 4 swift 3.2"
swift compiler error for swift 3.2

'font' is no longer a member of 'NSAttributedStringKey'

[2017-08-10 15:31] WrathChaos commented on #156
Hello, I could not use hideWhenBackgroundViewIsTapped function.. It is not working at all. Can you give me an example of its usage please?

[2017-08-14 11:57] tahseen0amin commented on #266
For Anyone who is still struggling with this issue

This method is in the SCLExtension.swift. Import this file as well.

[2017-08-14 19:24] igordelorenzi commented on #321
I'm also struggling with this ... unsuccessfully so far

[2017-08-15 21:35] briandavidelliott opened #348 "Add support for using HTML markup in TextView"
I added the following code to allow support for rendering HTML markup in the alert view so that it could have pickable links. It would be great if this capability could be added as a permanent feature:

[code]

[code]

[code]

[2017-08-18 20:49] algrid commented on #341
UITableViewCell is not supposed to be used outside of UITableView. You can create your own custom view and use it as a subview of your cell's contentView and as `alertView.customSubview` (not the same instance of course, two different instances).

[2017-08-18 21:50] algrid commented on #339
@warhost You could do it like this:
[code]

[2017-08-18 22:01] algrid commented on #337
Did you try something like this?
[code]
And set `btn.isEnabled` in UITextField delegate methods.

[2017-08-21 02:38] zhouhao27 opened #349 "Horizontal alignment issue"
Here is the screenshot for horizontal alignment.

<img width="265" alt="screen shot 2017-08-21 at 10 37 09 am" src="https://user-images.githubusercontent.com/8099731/29501648-cc2c9460-865c-11e7-8b2c-18e975156d6a.png">

It's not aligned correctly. Any idea? Thanks.

[2017-08-22 05:56] fullmetalsheep commented on #346
#350 fixed this.

[2017-08-22 16:59] #346 closed

[2017-09-01 20:04] tidyware opened #351 "Please make updates to pod for Swift 4"
Swift 4 brings new requirements and changes to the language that can be implemented in a backward compatible way.

Please update the source code to reflect the new requirements (for selectors, etc.) so it's ready to work with Swift 4.

[2017-09-02 22:47] nicferretti opened #352 "SCLAlertView doesn't hide immediately"
This is the code where the issue arrises:
<img width="1413" alt="screen shot 2017-09-03 at 00 43 15" src="https://user-images.githubusercontent.com/28830258/29999234-f9df4d92-9040-11e7-8225-fcf9a6b24c0f.png">

The problem arrises on line 100. When this line is executed, the SCLAlertView is not dismissed but its content is still displayed on the screen while the views below it are now interactive.

[2017-09-04 00:18] tidyware commented on #216
Please make the btn.frame height portion of the CGRect settable (i.e. not hardcoded to 35).

[2017-09-04 06:18] fullmetalsheep commented on #351
The current head in git works with Swift 4.
`pod 'SCLAlertView',:git => 'https://github.com/vikmeup/SCLAlertView-Swift.git'`
add above code to your cocoapods file instead of using `'SCLAlertView'`

[2017-09-04 06:52] nitishrana28 opened #353 "Close button not visible"
This is my code. And attached is the screenshot

[code]

![simulator screen shot 04-sep-2017 12 20 16 pm](https://user-images.githubusercontent.com/1484780/30014747-92596f6e-916b-11e7-8f04-032621ba707d.png)

[2017-09-05 00:24] tidyware commented on #351
Got it. Thank you.

[2017-09-05 00:24] #351 closed

[2017-09-05 22:17] jackbrown1993 opened #354 "Duplicate Entries"
Hello,

I am currently using SCLAlertView to display a list of options within an array.

First time works, however second time prepends the buttons again giving duplicates, how do I remove everything from the alert view and start again every time it is spawned?

[code]

Jack.

[2017-09-07 05:58] fullmetalsheep commented on #353
I cant figure out what went wrong with your code. Probably the text is the same colour as the background.But there's an alternative solution.Close button by default does nothing, therefore just create another dummy button with whatever the text you want.

`showCloseButton: false`

and then add

`alert.addButton("Close", backgroundColor: UIColor(red: 165.0/255.0, green: 11.0/255.0, blue: 39.0/255.0

[2017-09-07 06:04] nitishrana28 commented on #353
Yup the text was having the same color as button. Closing the issue

[2017-09-07 06:04] #353 closed

[2017-09-07 06:07] nitishrana28 opened #355 "Dismiss the alert on Close button"
I don't want to auto dismiss the alert as I have two buttons and don't want to dismiss the alert on both. So I have set `shouldAutoDismiss` as `false`.
This is the Close button :

[code]

But the alert is not dismissing.

[2017-09-08 14:49] jackbrown1993 commented on #354
This was me just having a dumb moment, the array had duplicates in :)

[2017-09-08 14:49] #354 closed

[2017-09-16 20:53] plarsson commented on #203
let btn = alertView.addButton(...
btn.layer.borderColor = UIColor.white.cgColor
btn.layer.borderWidth = 1.0

[2017-09-17 21:37] daleixo-gocontact opened #357 "Argument passed to selector"
Would be great if one selector can receive one object with the values of the text fields.

[2017-09-18 01:06] #203 closed

[2017-09-19 16:31] jlaws opened #358 "Swift 4 support"
Any plans to update the library to support Swift 4?

[2017-09-21 09:12] fabioiegri commented on #358
Hello. First of all, thank You for Your job.

........./Pods/SCLAlertView/SCLAlertView/SCLAlertView.swift:160:999: Global function 'UIColorFromRGB' is internal and cannot be referenced from a default argument value
I receive the following error:

Related code:
`public init(kDefaultShadowOpacity: CGFloat = 0.7, kCircleTopPosition: CGFloat = -12.0, kCircleBackgroundTopPosition: CGFloat = -15.0, kCir

[2017-09-22 23:07] ahmedsafadii commented on #358
<img width="790" alt="screen shot 2017-09-23 at 2 07 25 am" src="https://user-images.githubusercontent.com/6974081/30767277-fe5f6fdc-a003-11e7-8442-13924ffd0a34.png">

for now you have to do this ^_^

[2017-09-23 00:34] vikmeup commented on #358
@jlaws feel free to submit PR, I would be happy to merge

[2017-09-24 06:02] rayhk6 opened #359 "Swift 4"
I used  #351  link for my project. However, the duration function is no longer work. Please kindly help to fix. Thanks.

[2017-09-25 12:54] mickychen0524 commented on #351
@fullmetalsheep it looks like it's not fully updated for swift 4
SCLExtensions.swift:48:136: 'NSFontAttributeName' has been renamed to 'NSAttributedStringKey.font'
SCLAlertView.swift:759:25: 'NSFontAttributeName' has been renamed to 'NSAttributedStringKey.font'

[2017-09-25 12:58] fullmetalsheep commented on #351
i will push a fix this weekend, im not with my macbook right now.

[2017-09-25 12:59] fullmetalsheep commented on #359
for now, click on the error. It should show automatically what the new code should look like. Then run the app again.

[2017-09-25 16:31] mickychen0524 commented on #351
@fullmetalsheep thanks, please update here when it's pushed

[2017-09-26 02:48] rayhk6 commented on #359
It doesn't support the duration now?
`alertView.showError("Title", subTitle:"abc", duration: 3)`
It shows
Incorrect argument label in call (have '_:subTitle:duration:', expected '_:subTitle:closeButtonTitle:') Replace 'duration' with 'closeButtonTitle'

[2017-09-26 05:15] fullmetalsheep commented on #359
hmm, i'm not with my macbook right now. I'll look into it this weekend. Hopefully someone else can do it sooner.

[2017-09-26 09:34] SangSaephan commented on #299
I've made the becomeFirstResponder() call after showInfo() and the keyboard is still appearing over the view. Any idea what's going on? (The UITextField is a subview of a customSubview).

[2017-09-26 16:40] justdan0227 commented on #359
Please update.  Have always loved this library. Looking forward to Swift4 update

[2017-09-26 21:59] ahmedsafadii commented on #359
I update the library for swift 4

        pod 'SCLAlertView', :git => 'https://github.com/ahmedsafadii/SCLAlertView-Swift.git'

[2017-09-27 05:57] rayhk6 commented on #359
Thanks @ahmedsafadii , but not fixing the duration issue.

[2017-09-27 09:17] ahmedsafadii commented on #359
@rayhk6 what issue , I used it and it's amazing oO

[2017-09-27 09:21] ahmedsafadii commented on #359
try replace both file with this :)

[2017-09-27 09:21] ahmedsafadii commented on #359
[Archive.zip](https://github.com/vikmeup/SCLAlertView-Swift/files/1336488/Archive.zip)

[2017-09-29 09:38] gannimet commented on #52
I have the same problem with XCode 9.0

[2017-09-29 15:24] mickychen0524 opened #360 "iOS 11 bug - alertViewIcon image is not clipped inside of circle"
top title image is laid on above of circle

[2017-09-29 18:44] Piyush08 commented on #359
@ahmedsafadii I still facing same issue for duration!

[2017-09-29 18:45] ahmedsafadii commented on #359
@Piyush08 can you share your code or screen the problem ?

[2017-09-29 18:46] rayhk6 commented on #359
@Piyush08  Please replace duration with timeout. It works for me.

[2017-09-29 18:47] #359 closed

[2017-09-29 18:50] ahmedsafadii commented on #359
[code]

[2017-09-29 19:03] Piyush08 commented on #359
Hello @ahmedsafadii ,

Can't I use same format like as duration now? Just specify second & after that dismiss automatically.

Rather than this adding button scenario.

Thank you,

[2017-09-29 19:06] rayhk6 commented on #359
@Piyush08
[code]

[2017-09-29 19:14] Piyush08 commented on #359
@ahmedsafadii

still getting error as "Cannot assign to immutable expression of type 'SCLAlertView.SCLTimeoutConfiguration.ActionType.Type' (aka '(() -> ()).Type')"

[2017-09-29 19:18] ahmedsafadii commented on #359
replace both file with this

https://github.com/vikmeup/SCLAlertView-Swift/files/1336488/Archive.zip

[2017-09-29 19:21] Piyush08 commented on #359
@ahmedsafadii I already replace this as you mentioned above

[2017-09-29 19:22] ahmedsafadii commented on #359
@Piyush08 can you share the alert code here ^^"

[2017-09-29 19:24] Piyush08 commented on #359
![screen shot 2017-09-30 at 12 53 36 am](https://user-images.githubusercontent.com/7929845/31032513-dfb5aa3a-a579-11e7-914d-052681313e78.png)

[2017-09-29 19:25] ahmedsafadii commented on #359
@Piyush08 the code please :3

[2017-09-29 19:26] Piyush08 commented on #359
@ahmedsafadii I already share as above image

[2017-09-29 19:27] ahmedsafadii commented on #359
@Piyush08 ok give me a sec

[2017-09-29 19:31] ahmedsafadii commented on #359
[code]

[2017-09-29 19:35] Piyush08 commented on #359
@ahmedsafadii

It works!

Thanks for your quick & great help!

Happy coding!

[2017-09-29 19:36] ahmedsafadii commented on #359
@Piyush08 np ;)

[2017-10-03 15:14] justdan0227 commented on #359
So whats the workflow for adding this to a new project now?

[2017-10-03 17:07] vikmeup commented on #359
@justdan0227 create PR with changes to support Swift4, I would be happy to merge it

[2017-10-04 12:31] ahmedsafadii commented on #359
@vikmeup https://github.com/vikmeup/SCLAlertView-Swift/pull/361

[2017-10-04 16:16] Spark3000 commented on #52
Same here. XCode 9.0

[2017-10-04 16:57] #257 closed

[2017-10-05 21:33] Coppola-Aleandro commented on #358
I have a same problem:
Global function 'UIColorFromRGB' is internal and cannot be referenced from a default argument value
end other like:
Argument of '#selector' refers to instance method 'tapped' that is not exposed to Objective-C

[2017-10-08 10:54] mohammadshalhoob opened #362 "there is no question in Alert View Styles"
hi ,

there is no question in Alert View Styles  .

thanks

[2017-10-12 19:43] jorojas commented on #314
Habing the same issue, any clues?

[2017-10-12 20:04] jorojas commented on #314
Hi guys, I got this while compiling my code:
`/Users/user/Documents/GitHub/mobile-visa-mlc-ios-master/BaseApp/Views/VisaViews/VisaAlertView/VisaAlertViewController.swift:87:132: Cannot convert value of type 'Bool' to expected argument type 'SCLButton.ShowTimeoutConfiguration?'`

In this method:
`func addActionButton(_ title: String, buttonTapped: @escaping () -> Void) {
        let textColor = The

[2017-10-14 18:15] Davidegr99 opened #363 "How to justify text?"
Hi, I use the updated code to swift 4. And how can I justify the text in the alert view? Tnk

[2017-10-15 17:23] azaabudeen opened #364 "Get text from the TextField"
hello I used this method to create the button
 _ = alert.addButton("Submit", target:self, selector:#selector(ViewController.firstButton))

how will i reference the text inside the textfield in the firstButton method

[2017-10-16 03:19] Andrewvanbeek opened #365 "Cannot Change Circular Icon Color"
Cannot Change circular icon color.  The background color for the circular icon cannot change.

[2017-10-16 03:29] Andrewvanbeek commented on #365
Nvm I got it

[2017-10-16 03:29] #365 closed

[2017-10-22 01:04] AndriyGo opened #367 "Memory leak every time custom alert is being presented"
Even in the original example clicking on the custom alert button causes a memory leak.

I couldn't yet locate a cause of it (hence lack of a PR). However, I think it is a serious issue which needs to be looked into.

[2017-10-22 01:26] AndriyGo commented on #367
#368 should fix this issue

[2017-10-24 11:35] kuzdu commented on #358
I'm confused. I checked out the project and with Swift 4 the code is fine .
When you call the pod like this `pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift', :branch => 'master'` you will getting a working Swift 4 version.

Only If you call `pod 'SCLAlertView'` or `pod 'SCLAlertView', '0.7.0'` it doesn't work. Is there another version to check out?

Can we (or I) help t

[2017-10-24 18:26] hpbl commented on #335
@viniciusvieir did you ever found an answer for this?

[2017-10-25 08:53] UtkuDalmaz commented on #358
Can anyone please update this ????

[2017-10-25 12:10] shaheero commented on #358
Using pod update didn't download the latest update (compatible with Swift 4). Download the files "`SCLAlertView.swift`" and "`SCLExtensions.swift`" from the GitHub repo here and replace them in `Pods/SCLAlertView`

[2017-10-28 12:25] viniciusvieir commented on #335
@hpbl unfortunately no answer so far

[2017-10-28 12:31] viniciusvieir commented on #349
@zhouhao27 how did you manage to make it horizontal?

[2017-11-01 17:55] alijaza commented on #358
@vikmeup ☝️

[2017-11-01 19:15] vikmeup commented on #358
Could you guys submit PR, I would be happy to merge!

[2017-11-02 04:38] thamerfa commented on #52
same here

[2017-11-02 12:35] wassimseif opened #369 "Main thread related crash"
Hello,
I'm getting this crash on xcode 9.1.
[code]
crash is
`-[UIView init] must be used from main thread only`

[2017-11-02 15:58] vikmeup commented on #369
@wassimseif make sure you are showing `SCLAlertView` on the main thread

[2017-11-02 15:58] #369 closed

[2017-11-09 01:28] DavidLari commented on #358
@vikmeup: The code is already updated to Swift 4. No PR is needed. It's just that you haven't git tagged a new version and pushed to the pod trunk.

Until that is done, we can use the latest code with the following in our pod file:

[code]

[2017-11-11 16:56] freeubi commented on #342
Its cropped when the kCircleHeight is too small.

[2017-11-12 22:06] yzhong52 commented on #358
Any timeline for tagging a new version with official support for swift 4?

[2017-11-18 18:49] avazquezpr commented on #358
@ahmedsafadii Thanks! Really helped.

[2017-11-19 02:59] thamerfa commented on #52
Adding Foundation.framework to your project solved the problem.

[2017-11-23 10:55] freeubi commented on #355
Try with self.alert.hideView.
I have working code like this: `   let alert = SCLAlertView(appearance: pausePopupAppearance)
        let alertViewIcon = UIImage(named: "appleHealth")

        alert.addButton("THANKS",
                        backgroundColor: TepColors.Yellow,
                        textColor: .white,
                        showDurationStatus: false) {

[2017-11-24 01:45] anushkmittal commented on #277
@YoannLth yes, this helped me! Thanks for sharing 😊

[2017-11-25 22:36] grosch opened #370 "No visual clue button is disabled"
If I set isEnabled on the button to false, there's no visual clue that it's been disabled like a normal button would have.

[2017-11-29 13:40] ahmadabudawod commented on #275
I have the same issue, is there any plan to resolved it?

[2017-11-30 17:35] nmDejamobile commented on #358
Tagging and updating lib versions would be nice. Still in 0.7.0 but not compatible with swift 3.2 anymore. Still have a project to update to swift4 but it have to build before. So I had to point my podfile directly to 3687d7965630e58abae114c6544f9412c5e09b66

[2017-11-30 18:46] vikmeup commented on #358
I will do tonight! Sorry guys for long delay.

[2017-11-30 18:57] Ewg777 commented on #358
@vikmeup better late than never

[2017-12-04 01:42] CaliosD opened #372 "Custom alertview with no circle image"
At line 642 of SCLAlertView.swift, there're both `icon: UIImage` and `circleIconImage: UIImage? = nil` as input parameters, but only the former one is used with the name of `circleIconImage` in function `showTitle()`. I think the parameter `icon` in `showCustom()` may not be necessary to exist, or at least an optional one, so I can create a custom alertview with no circle image.

I would appreciat

[2017-12-12 15:26] jlaws commented on #358
@vikmeup how about tonight :)

[2017-12-15 12:21] zezek opened #373 "Documentation Clarification: How to go from showWait to showSuccess?"
When I try to transition an alertview from showWait to showSuccess the showWait icon still shows in the background.  What is the supported method to transition this alertview?

Thanks again for the great framework.

[2017-12-18 07:47] youngsherlee opened #374 "The download version is 1.0,but the cocaPods is 0.7"
“buttonsLayout” is not support in 0.7

[2017-12-18 07:56] youngsherlee commented on #374
“ buttonsLayout” is not support in 0.7

[2017-12-18 13:29] JamesHealdUK commented on #358
This would be awesome if possible!

[2017-12-19 12:40] kramesh2005new opened #375 "Show Attributed String in subTitle"
Hi,

How to show Attributed String in subTitle ?

[2018-01-02 02:18] narayana14 commented on #335
add buttonsLayout in appearance works for me

[code]

[2018-01-04 14:20] lucasbordini commented on #237
same here

[2018-01-05 07:11] invisible66 commented on #358
@vikmeup we are waiting "tonight" :D

[2018-01-06 06:59] fullmetalsheep commented on #374
cocoaPods is not updated for some reason. just use the master from git :)

[2018-01-13 21:48] luishar0 opened #376 "'appearance' is inaccessible due to 'internal' protection level"
Updated to Swift 4 and I'm having trouble hiding the "Done" button.
When using: alertView.appearance.showCloseButton = false
I get the error message: 'appearance' is inaccessible due to 'internal' protection level

[2018-01-15 14:12] pgawlowski opened #377 "SCLAlertView - show is probably not thread-safe"
Recently I run into situation when SCLAlertView was causing a lot of trouble, because it was triggered from inside one of sub-threads.

I was wondering why not to cover it directly in SCLAlert - cause UI supposed to handled always on main thread.

So some sort of
`DispatchQueue.main.async {}`

would be nice.
What do you think about this kind of improvement?

[2018-01-15 14:15] pgawlowski commented on #367
Try to put this in
`DispatchQueue.main.async { }`

there is a chance that you're triggering this from some sort of sub-thread - recently I run into this kind of issue.

If this is going to fix your problem please refer to this issue with some comment or support if you believe like me, that is supposed to be cover directly in SCLAlertView()

https://github.com/vikmeup/SCLAlertView-Swift/issues/377

[2018-01-17 11:03] vin20777 commented on #187
Pretty Easy in Swift. You could get the textField instance by "let phoneField = alert.addTextField("placeHolder")". And then set the textField whatever you like. Ex. phoneField?.keyboardType = .numberPad etc.

[2018-01-18 09:24] invisible66 opened #378 "How can i change style after button pushed_?"
I want to change style after button push. How can i do that?

Just like that:

![sweetalertios](https://user-images.githubusercontent.com/8086679/35090354-76cfd5a4-fc4a-11e7-9129-dfe61986ca37.gif)

[2018-01-21 13:38] Cleversou1983 commented on #299
let text = alert.addTextField("Descrição")
text.becomeFirstResponder()

I did this, before calling showEdit... and worked....

[2018-01-26 13:07] dreampowder opened #380 "Added subtitlecolor to SCLApearance class"
Hi there, when i check the code, i've seen that you are settings both title and subtitle to the same color.
I've added subtitle color value to the struct.
thanks for sharing this wonderful library

[code]

[2018-02-01 04:49] thecodingone opened #382 "Problems with setting timeout"
Hi! As of right now, i'm trying to display a custom alert that has a duration of 3.0 seconds. Xcode is giving me an error saying that instead of a Double, it needs to be an 'SCLAlertView.SCLTimeoutConfiguration?', yet I can't find any mention of how to configure that in the documentation. Does anyone have experience with this that could guide me in the right direction?

<img width="1195" alt="scre

[2018-02-01 04:56] thecodingone commented on #382
I was able to fix this by making a variable of the timeout configuration, and using that. Here's my source code, if any one else was confused by this.

<img width="1083" alt="screen shot 2018-01-31 at 8 54 33 pm" src="https://user-images.githubusercontent.com/10201992/35661752-1f478fdc-06c9-11e8-999a-dd067f761fa2.png">

[2018-02-01 14:27] AndriyGo commented on #367
#381 fixes this for me. However, I do not fully understand why reassignment of appearance led to the memory leak in the first place.

[2018-02-01 14:27] #367 closed

[2018-02-02 21:54] justdan0227 commented on #357
Yes this would be great.  hint hint

[2018-02-02 22:01] justdan0227 commented on #297
Where do you get the date from once the success button is pressed.  Is there a way to pass a custom date range (in my case I just want to pass hours after selecting a date in FSCalendar).

[2018-02-04 21:01] algrid commented on #364
The `addTextField` method returns the `UITextField` instance you are interested in. Just save it as a property of your view controller and you can use it anywhere.

[2018-02-13 20:05] justdan0227 commented on #373
Did you ever get an answer to this.  I need to do the simular

[2018-02-13 20:46] justdan0227 opened #385 "Style Color of entire view"
Am I just overlooking how you change the color of the entire dialog.  If I want a Red Edit Dialog, how do you configure that.  I see a style for setTitle, but not the entire dialog.

[2018-02-17 04:50] khanhshopback opened #386 "Please update version of .swift-version to 4.0"
Please update version of .swift-version to 4.0 and release new version for this.

[2018-02-17 05:29] vikmeup commented on #386
I will try to do, pod was giving me errors.

[2018-02-17 07:30] Rilu-Ril commented on #386
I am facing same issue

[2018-02-18 10:45] T-Niijima opened #387 "append iconTintColor to SCLAppearance"
I want to make tintColor of icon and button, standard key color of application.
I think include iconTintColor property in SCLAppearance.

[2018-02-18 14:02] abdallaMunzer commented on #376
i had the same issue

[2018-02-20 13:43] Vesla commented on #124
Is there anyone meeting this bug ? Can't replicate it
It looks like it's fixed
Maybe this should be closed unless someone still have it

[2018-02-20 18:45] #124 closed

[2018-02-23 08:56] Ewg777 commented on #374
@vikmeup any update on it?

[2018-02-23 15:09] apspot commented on #134
kCircleIconHeight works, thank you!

[2018-02-23 20:44] aozbayra commented on #360
I am having this problem as well.
![simulator screen shot - iphone 7 plus - 2018-02-23 at 15 43 05](https://user-images.githubusercontent.com/9277891/36616006-40f0f6f2-18b0-11e8-8f30-780cefdd41c5.png)

 Attached you find a screenshot that shows the problem. @vikmeup Can you please advise on how I can get this to clip? Version 0.7 was working just fine. This is running on version 0.8.

[2018-02-23 22:58] vikmeup commented on #360
@aozbayra not being able to advise much, did you try to try the latest master? I might be seen a fix from somebody.

Feel free to send PR

[2018-02-28 15:03] yusuftor opened #388 "How to change colour of button on click"
I want to do something like this:

[code]

but it won't let me. I also can't access the `customBackgroundColor` property of the button. How can I solve this, or is it not possible?

[2018-03-04 09:39] vikmeup commented on #386
[code]

[2018-03-04 09:39] #386 closed

[2018-03-04 09:40] #374 closed

[2018-03-04 09:41] vikmeup commented on #358
Pushed! finally can close this!

[2018-03-04 09:41] #358 closed

[2018-03-06 00:20] jerry1177 commented on #386
Hi, ass soon as I install the pod and try to run the simple command:

SCLAlertView().showInfo("Important info", subTitle: "You are great")

I get this error:
Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value

coming from the SCLAlertView.swift file. is there a fix for this bug?

[2018-03-06 00:35] jerry1177 commented on #386
Never mind this comment. I was calling it in the view did load method which gets called too early. great framework though!

[2018-03-15 20:06] jpaaquino opened #395 "Is it possible to change the content mode of the icon image"
I was looking to use aspect fit. Is that possible? The image is getting stretched currently and that is not what I want.Couldn't find anything in the documentation. Thanks in advance.

[2018-03-21 02:32] chris-redbeed opened #396 "delete testSCLAlertViewTitleTop"
with #394 you delete `kTitleTop` - so you need to delete this test function

https://github.com/vikmeup/SCLAlertView-Swift/blob/a98030ed4701682d60dd11f4d2aa0149f24a1bdc/SCLAlertViewTests/SCLAlertViewPropertiesTests.swift#L45

[2018-03-22 00:26] lfarah commented on #110
+1

[2018-03-23 08:05] xrisyz opened #397 "This framework is honestly a piece of shit when working with input accessory"

[2018-03-23 08:06] #397 closed

[2018-03-26 20:54] danielideriba commented on #145
For Swift 4 is:

 textField.isSecureTextEntry = true

[2018-03-29 15:24] invisible66 opened #398 "hwSwitch"

[2018-04-02 17:04] mingsai commented on #396
This issue causes build to crash when running Carthage. While I've fixed it manually, it seems too trivial to warrant a PR... Let me know if you'd like someone to fork, fix and push back.

[2018-04-05 20:16] #309 closed

[2018-04-09 05:40] seenoevo opened #399 "Please update access levels..."
I recently migrated from manual install of this library to using CocoaPods for easier future updates, and  I seem to have a lot of errors complaining about `protection level` and `unresolved identifier`:

![untitled](https://user-images.githubusercontent.com/8109158/38481064-c30c3648-3b7d-11e8-98b1-c54f87a77298.png)
![untitled2](https://user-images.githubusercontent.com/8109158/38481068-c55a6334-3

[2018-04-09 09:44] haithngn opened #400 "Build via Carthage failed"
*** Fetching SCLAlertView-Swift
*** Checking out SCLAlertView-Swift at "3b04846a962d2ab70ed2da3dbc9638600146b38a"
*** xcodebuild output can be found in /var/folders/_l/hbzfgl255vl7kl5k4y0rfq780000gq/T/carthage-xcodebuild.tmH6L3.log
*** Building scheme "SCLAlertView" in SCLAlertView.xcworkspace
Build Failed
	Task failed with exit code 65:

Please help to fix

[2018-04-11 17:36] Dev- commented on #360
Can confirm I'm experiencing the same issue. Migrated from 0.7 to 0.8.

[2018-04-13 23:23] mstftmk opened #401 "'shared' is unavailable problem"
I used it without problems. This error has begun after installing the OneSignal extension. How can i fix this?
Thanks.

![ekran resmi 2018-04-01 00 10 44](https://user-images.githubusercontent.com/21090784/38761327-67f6fbd8-3f8a-11e8-80e0-6524f8a35b16.png)

[2018-04-15 05:59] it99ts commented on #400
SCLAlertViewTests/SCLAlertViewPropertiesTests.swift

'SCLAlertView.SCLAppearance' has no member 'kTitleTop'

XCTAssertTrue(alert.appearance.kTitleTop == 30.0)

Need to remove

[2018-04-15 20:08] algrid commented on #399
AFAIK one isn't supposed to access those fields directly. For `showCloseButton` you can have:
[code]
Regarding that icon image - it's set automatically when you call `showError` if I'm not mistaken.

[2018-04-15 20:33] algrid commented on #398
You can put your custom subview into the alert. Use `customSubview` property.

[2018-04-15 21:36] algrid commented on #385
You can try:
[code]

[2018-04-15 21:39] #382 closed

[2018-04-23 19:15] Gloix opened #402 "Accessibility"
There is no compatibility with VoiceOver, so this library cannot be used in projects with accessibility for visually impaired in mind (almost every project).
Primarily, the elements inside the dialog (or even the dialog itself) are not focusable for VoiceOver. There is not even a single sound queue indicating the presence of a dialog on screen (that sound queue should be issued by VoiceOver itself

[2018-04-26 14:00] soypaduano commented on #237
same

[2018-05-02 07:17] Iainmon opened #404 ""Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value""
SCLAlertView.swift
Line 712

If you try and run my last commit "SCL" at https://github.com/Nexal-Technologies/Hawaiian-Weather Xcode will compile it, but will throw an error...

[2018-05-02 08:48] Iainmon commented on #404
For some reason, this error would only happen when an alert was called in the `override func viewDidLoad()`. Anywhere else, it seems to be ok.

[2018-05-02 08:48] #404 closed

[2018-05-02 08:50] vikmeup commented on #404
👍

[2018-05-02 21:51] #401 closed

[2018-05-07 06:40] Nikooos opened #405 "'shared' is unavailable: Use view controller based solutions where appropriate instead."
I've tried searching all over the web, but I couldn't find a working solution yet.

at these lines:
UIApplication.shared.keyWindow! as UIWindow
UIApplication.shared.keyWindow?.subviews

I get the error:
'shared' is unavailable: Use view controller based solutions where appropriate instead.

Anyone has an idea to fix this?

[2018-05-07 06:41] Nikooos commented on #401
Is this fixed? Because you closed it, but I have the same problem.

[2018-05-07 07:27] Nikooos commented on #405
Currently i'm working around this by adding it as a embedded framework, but I would rather use cocoapods.

[2018-05-14 03:27] seenoevo commented on #399
@algrid sorry for the late reply, I haven't gotten a chance to work on my project until recently.

1. How exactly is one suppose to use `showCloseButton` with the provided:
[code]
2. That works for `showError`, but what about `showCustom`? Are users expected to provide their own icons now?

[2018-05-16 18:57] nfranke commented on #402
See this from the Objective C port of this library:

https://github.com/dogo/SCLAlertView/pull/261

[2018-05-20 11:17] genautkin commented on #38
I still have same problem
Tried to fix but nothing help...

[2018-05-21 06:14] #399 closed

[2018-05-27 23:44] AndriyGo opened #406 "Latest release"
Could you please make a new release? Currently, Cocoapods pulls the release which is ~10 commits old.

[2018-05-30 17:02] danielghre opened #407 "Dismiss view outside"
Hi, is it possible to dismiss the view if we touch outside (the blurred background) ?

[2018-05-30 22:22] furiosFast opened #408 "Double alert when shake device"
hi,
i've add a alert when the user shake the device, but there is a problem: the first alert view is displayed correctly, but when I shake the device again, the second alert is displayed that overlaps the first one.
How can this be done to ensure that the first alert is automatically closed at the second shake?

[2018-07-01 13:31] 1105420698 opened #410 "Error when converting to Swift 4.2"
Works normally before converting to 4.2

[2018-07-02 21:52] justdan0227 commented on #387
Any possibility of this?  On Edit I need a color other than purple.

[2018-07-03 16:05] olivierto opened #411 "Type 'NSAttributedStringKey' (aka 'NSString') has no member 'font'"
I have an issue since this morning ... I don't understand why it appears suddenly, even if i did not change a bit my project configuration...
[code]
I've tried to pick the [PR#409](https://github.com/vikmeup/SCLAlertView-Swift/pull/409)
but with no success ...

Any one have this issue?

[2018-07-04 04:10] LeahV commented on #411
Yes - there's a pull request addressing this issue.
You need to change it to:
NSAttributedString.Key.font

[2018-07-04 09:52] mriccasyncpoint commented on #408
i've the same problem too

[2018-07-06 20:07] nfranke commented on #138
I have two buttons in an alert and neither work after rotating. This happens from portrait -> landscape and landscape -> portrait. Rotating back to the original orientation allows the buttons to work again.

[2018-07-06 21:03] nfranke commented on #138
I believe the problem is that the library doesn't set the autoresizingMask. If you add this code after showing a view, everything works just fine:

[code]

There only a single subview, which I'd imagine is the ``baseView`` instance variable, but it's inaccessible.

[2018-07-23 18:52] shalamowww commented on #405
Hi, I assume you have an extension on your app.
SCAlertView target inside Pod project -> Build Settings -> **require only app-extension-safe api** ->> **No**.

[2018-07-24 11:51] severinewillez opened #412 "Change circle image color"
I would like to be able to change the color of the exclamation point that is in the blue bubble. How can I do it ?

![img_2526](https://user-images.githubusercontent.com/38129532/43136332-a9e1e4b4-8f48-11e8-850d-d52084eda029.PNG)

Thanks.

[2018-07-24 14:10] justdan0227 commented on #385
Thanks.. sorry .. forgot to + this.

[2018-08-05 16:37] tomoyuki28jp commented on #178
I think it's better to provider an easier way...

[2018-08-07 20:54] justdan0227 opened #415 "Background Color of entire View"
What is the setting to set the background color of the entire view?

[2018-08-09 16:13] elgartoinf commented on #293
regards!
I used this solution
[code]
you must also create this extension

[code]

[2018-08-09 16:26] elgartoinf commented on #364
Regards!
this is an example that is in the readme.md

[code]

[2018-08-23 13:54] mohmmadsawalha96 opened #417 "Could not load the "" image referenced from a nib in the bundle with identifier"
Could not load the "" image referenced from a nib in the bundle with identifier

xcode 10 beta,
in view did load
`        SCLAlertView().showInfo("Important info", subTitle: "You are great")
`

[2018-08-31 14:16] retsohuang opened #418 "Please update 0.8.1 to Trunk"
Cannot found 0.8.1 https://github.com/CocoaPods/Specs/tree/master/Specs/6/1/f/SCLAlertView

[2018-09-06 13:23] ShahRukh2641 opened #420 "SCLAlertView Button Issue"
When I used third party SCLAlertView there was a problem actually there is a problem that is I want to perform some action when the button will pressed but there is just the customization properties but I am wondering for the action scope where I can change its functionality.

[2018-09-06 13:34] ShahRukh2641 commented on #420
let appearance = SCLAlertView.SCLAppearance(
        showCloseButton: false // if you dont want the close button use false
    )
    let alertView = SCLAlertView(appearance: appearance)
    alertView.addButton("Ok Pressed") {
        print("Ok button tapped")

    }
alertView.showSuccess("Success", subTitle: "")

[2018-09-14 17:49] alexviquez commented on #375
Any solution of this ?

[2018-09-28 11:10] asadali737 opened #421 "Xcode 10, Swift 4.2 support"
It's giving warning for swift 4.2.

[2018-10-01 09:51] Jaspur opened #423 "Remove "Done" button"
How to remove the "done" button in the showEdit()?

[2018-10-01 18:44] mduttondev commented on #421
My PR #422 was merged this morning. Shouldnt be long at this point. Just needs to be released.

[2018-10-01 18:45] vikmeup commented on #421
@mduttondev thanks!

[2018-10-01 18:45] #421 closed

[2018-10-04 13:33] curtisbacon commented on #360
Any update on this issue?

[2018-10-04 13:42] IsmailHassanein commented on #421
Would you please release it so it updates in cocoapods? Thanks.

[2018-10-05 10:09] Jaspur opened #424 "Camelcase text input"
Why is the input converted to camelcase when having the text field in the alert view?

[2018-10-05 10:46] retsohuang commented on #418
@p0tvin29 I don't have permission to do that.

[2018-10-05 13:52] Jaspur opened #425 "Set Color of Title?"
How to set the color of the Title?

[2018-10-05 13:52] #424 closed

[2018-10-05 13:52] #423 closed

[2018-10-05 17:41] Jaspur commented on #425
@vikmeup and the text itself

[2018-10-08 21:34] Brusnikin commented on #407
[code]

[2018-10-09 08:17] iamir4g commented on #293
work perfectly
how to get which elements select in pickerview?
thank

[2018-10-12 01:12] soulfoodz opened #427 "Duplicate interface definition created when archiving"
Duplicate interface definition for SCLButton is auto created in the SCLAlertView-Swift.h file when attempting to archive the build.

Running:
xCode - 9.4.1
Swift - 4.1
Cocoapods - SCLAlertView (0.8.1)
COCOAPODS: 1.5.3

![screen shot 2018-10-11 at 8 09 48 pm](https://user-images.githubusercontent.com/4706310/46842147-9e9f6b80-cd91-11e8-9de8-50e3ed2f9ff9.png)

https://www.dropbox.com/s/vwxcg56bnbike

[2018-10-12 06:48] ruelluna commented on #418
Please update. Thanks!

[2018-10-14 21:51] UtkuDalmaz opened #428 "Resizing textfield while typing"
Is there a way to resize textfield while typing?

[2018-10-15 12:11] sandeepan512 opened #429 "Scrip error"
mv: rename /Users/sandeepankumar/Library/Developer/Xcode/DerivedData/Lawzgrid-hjooowckdxxhiwgzjidxtaddejjw/Build/Products/Debug-iphonesimulator/Lawzgrid.app/Frameworks/SCLAlertView.framework/SCLAlertView-merged to /Users/sandeepankumar/Library/Developer/Xcode/DerivedData/Lawzgrid-hjooowckdxxhiwgzjidxtaddejjw/Build/Products/Debug-iphonesimulator/Lawzgrid.app/Frameworks/SCLAlertView.framework/SCLAle

[2018-10-15 18:45] primetimer commented on #407
great, but where can I define a Clojure being executed, when touching outside

[2018-10-16 15:52] p0tvin29 opened #430 "Update CocoaPods PLEASE!!"
Please update cocoapods with the Swift4.2 changes....

[2018-10-17 06:32] ruelluna commented on #430
at least
` pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git', :branch => '0.8.1'`

[2018-10-22 21:35] mduttondev commented on #430
@vikmeup Is there a time frame on updating Cocoapods with the 4.2 changes? If you allow me whatever access is needed I'm willing to submit the changes and publish the builds.

[2018-10-22 21:38] mduttondev commented on #430
You can also do
`pod 'SCLAlertView', :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git', :branch => 'master'` until its published. That will get all the 4.2 changes to pull locally

[2018-10-25 11:58] invisible66 commented on #375
Any solution???

[2018-10-28 08:50] trnhgquan opened #431 "Add Button on right"
Dear guys,

I am new to swift & SCLAlertView, i want to add button on right with close button.
Does anyone here know how to to it?
When i using alert.addBtn. The button i want to add always on left to close button.

Thanks

[2018-11-06 08:42] #431 closed

[2018-11-06 15:51] AndriyGo opened #433 "Memory leak if `showCloseButton` is false"
I have no idea why this occurs and hence want to share it here in case someone understands why it happens.

Basically, whenever the alert is initialised with `showCloseButton = false` in its appearance there is a memory leak. To test it, you can replace line 65 in `ViewController.swift` with `showCloseButton: false`. Then, profile with instruments and check for leaks after clicking on "Show edit".

[2018-11-07 12:28] sashberd commented on #376
@luishar0 @abdallaMunzer @seenoevo The problem is that author @vikmeup insert class of appearance into SCLAlertView class as struct. Thus you can not customise you appearance after once you create it
@vikmeup I do not want to enter in your current lib software engineering, but in your [read.me](https://github.com/vikmeup/SCLAlertView-Swift#collaboration) file you say that:

So why in latest versio

[2018-11-21 07:06] luckychris opened #434 "scrolling would be great"
If you have a lot of entries (more than would fit to the screen), not all entries are clickable/reachable. Would be great if there would be a scrolling functionality.

[2018-11-23 01:15] hirotanishizato opened #435 "How can I adjust the speed of the animation?"
How can I adjust the speed of the animation (the time until the alert screen comes to the top or the center of the screen)?

I changed the following code of "SCLAlertView.swift", but it did not change in fact.

`    // Show animation in the alert view
    fileprivate func showAnimation(_ animationStyle: SCLAnimationStyle = .topToBottom, animationStartOffset: CGFloat = -400.0, boundingAnimationOffs

[2018-11-30 22:33] Greg-Cudzich commented on #375
bump

[2018-12-07 04:12] #427 closed

[2018-12-15 21:16] algrid commented on #415
You should be able to set `contentViewColor` in `SCLAlertView.SCLAppearance` like this:

[code]

[2018-12-26 15:38] soypaduano opened #436 "SCLAlertView disableInteractivePopGesture is crashing my app on IOS 8"
On Fabric.io I'm receiving this issue:

`SCLAlertView.m line 455
-[SCLAlertView disableInteractivePopGesture]`

Only on IOS 8.

There you have the trace:

`rashed: com.apple.main-thread
0  libobjc.A.dylib                0x32e826ba objc_retain + 9
1  Smartick                       0x10d267 -[SCLAlertView disableInteractivePopGesture] (SCLAlertView.m:455)
2  Smartick                       0x10e961 -

[2018-12-29 00:06] emtjoshhart commented on #357
agreed

[2019-01-07 23:10] mickspecial opened #437 "SCLAppearance not working (simulator only)"
Testing out SCLAppearance but it crashes when trying to create in instance of appearance.

This works as expected

[code]

This crashes at appearance

[code]

What am I missing ? This is example code i'm using.

I'm getting

Thread 1: signal SIGABRT
dyld: lazy symbol binding failed: Symbol not found:

Thanks

[2019-01-07 23:23] mickspecial commented on #437
Crashes on simulator
Works on device

[2019-01-08 10:54] #437 closed

[2019-01-09 22:15] #408 closed

[2019-01-25 05:35] daviddeteo opened #438 "Can I keep the alert in portrait even though the app is landscape?"
My alert is quite long and it suits the best in portrait mode, how can I force SCLAlertView to be portrait even though the view is landscape?

[2019-01-26 11:52] amirch123 opened #439 "set gradient background color"
hello
I need set gradient to background alert

tanks

[2019-02-18 02:48] chandrathen28 opened #440 "How i can add function textFieldDidChange to SCLAlertView"

[2019-03-13 12:01] alouanemed opened #441 "After updating tableview alertview becomes unresponsive"
I have a tableview with several items on whcih each it has an udpate button.When clicked it shows the alert, receive user inputs and reload data of the tableview. The next time I click in the update button, the alert showsup but with no interaction meaninig I can't click in the edittext nor the cancel button. and if clicked outside the alert it keeps showing multiple alerts.

[code]

The Alert vie

[2019-03-14 12:51] tommyyoon opened #442 "custom subview bottom spacing between first button"
I am adding a custom view and setting the textViewBottom isn't doing anything. That property only works on text textfields added by addTextField method. What am I doing wrong?

`                let margin = SCLAlertView.SCLAppearance.Margin(
                    textViewBottom: 30
                )
                let appearance = SCLAlertView.SCLAppearance(
                    kButtonHeight: 40,

[2019-03-25 07:10] bbo-jay opened #443 "showCustom small icon"
Is there a way to have bigger icon for showCustom? I tried increasing the size of the image but still no. Help

[2019-03-25 10:52] #443 closed

[2019-03-25 10:53] bbo-jay opened #444 "Unreleased 0.8.1"
Please release version 0.8.1 in CocoaPods

[2019-03-26 16:58] jlaws opened #445 "Swift 5 Support w/ Cocoapods"
## Expected Results

No warning to convert SCLAlertView.framework to Swift 5

## Actual Results

Xcode created warnings to convert SCLAlertView.framework to Swift 5

## Steps to Reproduce

Build the cocoapod in Xcode 10.2

[2019-03-30 01:02] #410 closed

[2019-04-24 21:02] siddharth-prajapati commented on #445
try this file if you are facing error after auto correct
[SCLAlertView.swift.zip](https://github.com/vikmeup/SCLAlertView-Swift/files/3114144/SCLAlertView.swift.zip)

[2019-04-30 06:14] mouness2020 commented on #445
pod 'SCLAlertView' , :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git'

[2019-05-03 09:56] yaminaanjar commented on #421
Hello, I'm using cocoapods and It's giving warning for swift 4.2

[2019-05-06 22:20] ebenezer103 opened #448 "Paragraph text box"
How can I get a text field box that looks like a paragraph text field box, so users can fit more text into the box?

[2019-05-07 07:12] lamsaitat commented on #448
@ebenezer103 do you mean a TextView?
![Simulator Screen Shot - iPhone XS - 2019-05-07 at 17 09 39](https://user-images.githubusercontent.com/997150/57279000-4512db80-70eb-11e9-8a22-12aa16882496.png)

[2019-05-07 07:30] ebenezer103 commented on #448
yes that exactly please

[2019-05-07 07:32] lamsaitat commented on #448
@ebenezer103  Use addTextView() instead of addTextField()

[2019-05-07 07:34] lamsaitat commented on #440
The method addTextField() returns the UITextField that was created, from there you can assign textField.delegate with whatever implements the UITextFieldDelegate protocol.

[2019-05-07 07:36] ebenezer103 commented on #448
Worked perfectly, thank you for your help. I know you are going to close the issue, but how would I go about changing the overall colour from the default colour to another colour.

[2019-05-07 07:44] lamsaitat commented on #448
From SCLAlertViewExample/ViewController.swift:179 - 182

`let icon = UIImage(named:"custom_icon.png")
        let color = UIColor.orange

        _ = alert.showCustom("Custom Color", subTitle: "Custom color", color: color, circleIconImage: icon!)`

Is this what you're after?

[2019-05-07 07:54] ebenezer103 commented on #448
[code]

This is my code so far when I attempt to implement it and place the code you gave me into it, it doesn't work.

[2019-05-07 08:15] lamsaitat commented on #448
You're trying to use showEdit which will give a default colour, and a default image.  If you want to preserve the edit icon you can use this instead, with the extension below.

[code]

[code]

[2019-05-07 10:20] ebenezer103 commented on #448
Thank you very much, this works!

[2019-05-08 07:39] benzamin commented on #370
Any update on this bug?

[2019-05-10 22:31] ebenezer103 opened #449 "Edit subtitle/ title"
How do I edit my subtitle?
`    let appearance = SCLAlertView.SCLAppearance(
            kTitleFont: UIFont(name: "HelveticaNeue", size: 0)!,
            kTextFont: UIFont(name: "HelveticaNeue", size: 13)!,
            kButtonFont: UIFont(name: "HelveticaNeue-Bold", size: 14)!,
            showCloseButton: false,
            shouldAutoDismiss: false
        )

        let alert = SCLAlertView(appe

[2019-05-18 13:22] jlaws commented on #445
ping

[2019-05-18 13:23] jlaws commented on #445
@vikmeup

[2019-05-22 11:30] ghost opened #450 "[v 0.8] SCLAlertView.swift: line 712 caused so many crashes"
Dears, I've got so many crashes reported on AppCenter in my app caused by forcing unwrap of UIApplication.shared.keyWindow
SCLAlertView.swift / line 712:
let rv = UIApplication.shared.keyWindow! as UIWindow

I am invoking showTitle method of SCLAlertView from my first view controller's viewDidLoad.

`MAIN THREAD - CRASHED
SCLAlertView
function signature specialization <Arg[0] = Exploded, Arg[1] =

[2019-05-30 06:51] darkbit34 opened #451 "Changing the screen size makes the view unresponsive"
On iPad Air 2 when the alert view is shown if you change the screen size by opening other apps in multitasking the alert view becomes non-responsive to touch.  If you later report the size of the screen to the previous size with which the alert view was opened, it returns to being touch responsive.

[2019-06-05 15:00] ebenezer103 opened #452 "Keep text content saved"
When I load up the SCAlertView I want to set some text into the TextView. So something that has previously been written, will stay in the box when they reopen the alert view.

[2019-06-11 14:09] DetectorApps commented on #237
H guys,
In my case, i am having that problem because i showed the alert in viewDidLoad method of the controller. I moved it to viewDidAppear and the alert started to work well.

[2019-06-14 07:56] ebenezer103 commented on #452
@lamsaitat

[2019-07-03 13:49] jlaws commented on #445
ping

[2019-07-04 18:31] rafsouzap opened #453 "VoiceOver"
Is there no compatibility with VoiceOver? Can this library not be used on projects with accessibility for the visually impaired?

[2019-07-09 20:47] idrissbenkhedija commented on #445
I think I have the same problem, any thoughts?

<img width="529" alt="Capture d’écran 2019-07-09 à 22 29 44" src="https://user-images.githubusercontent.com/49107386/60921674-5a4ae880-a29b-11e9-8c03-18b67f42b424.png">

[2019-07-09 20:55] idrissbenkhedija opened #454 "Warning to convert SCLAlertView.framework to Swift 5"
I do not manage to convert SCLAlert View Framework to Swift 5
<img width="1440" alt="Capture d’écran 2019-07-09 à 22 55 00" src="https://user-images.githubusercontent.com/49107386/60922283-a9dde400-a29c-11e9-9fc6-a58b2feedbe9.png">

[2019-07-09 21:40] idrissbenkhedija commented on #454
pod 'SCLAlertView' , :git => 'https://github.com/vikmeup/SCLAlertView-Swift.git'

[2019-07-09 21:40] #454 closed

[2019-07-31 20:15] justdan0227 opened #455 "Ability to change textfield color based on switch"
Is there a way to set a switch in the dialog with a custom view that would allow you to change a text field (numeric) to red if selected?  Trying to come up with a way to allow the user to enter a score value and if negative turn the text red as an indication as we don't have a negative number pad object.

[2019-08-04 03:14] rene-dohan opened #457 "Layout broken on orientation change even thou space available ..."
Portrait dialog with title and subtitle :
<img width="432" alt="Screen Shot 2019-08-04 at 15 07 20" src="https://user-images.githubusercontent.com/923610/62418947-a7b74b80-b6c9-11e9-9584-25066f26ce01.png">

Now broken layout in landscape:
<img width="680" alt="Screen Shot 2019-08-04 at 15 07 15" src="https://user-images.githubusercontent.com/923610/62418973-3926bd80-b6ca-11e9-82c0-9977b8b9b0fa.png

[2019-08-15 05:27] pai911 commented on #307
give my two cents.

Try not to keep the SCLAlertView() instance in the view controller and reuse it.

This fixed the issue I encountered.

[2019-09-25 09:15] Jaspur commented on #445
@vikmeup ^

[2019-09-25 10:17] jlaws commented on #445
Just remove the pod, it’s no longer maintained

[2019-09-25 10:17] #445 closed

[2019-10-04 13:04] cyye2 opened #459 "Project crashes after updating Xcode."
My project can normally work until I update the Xcode to Version 11.0 (11A420a).
Now,When it runs in a little while,it crashes.The error message is as follows:

dyld: Symbol not found: _OBJC_CLASS_$__TtCs12_SwiftObject
  Referenced from: /Users/qizijia/Library/Developer/CoreSimulator/Devices/8B40226A-A7D4-4915-9982-9C8CEF77F24B/data/Containers/Bundle/Application/4B75826C-5FEE-4EB3-85EE-23477B0ED2B

[2019-10-10 20:36] #188 closed

[2019-10-20 08:38] Sweeper777 opened #460 "Dark Mode support?"
`SCLAlertView` still has a while background in dark mode. This looks especially bad if there is a text field:

<img width="266" alt="スクリーンショット 2019-10-20 9 36 22" src="https://user-images.githubusercontent.com/13585047/67156969-63793600-f31d-11e9-8240-ac719f8df5b6.png">

[2019-10-22 11:11] jeffbailey commented on #460
I worked around this by using SCLAppearance, but it's a pain. Not sure about using a text field though. The one issue is that the contentViewBorder uses a cgColor in the setup method and this is tricky if you override system appearance with overrideUserInterfaceStyle property on a view controller.

[2019-11-01 22:06] jeremyosterhoudt opened #462 "Support Swift Package Manager"
https://swift.org/package-manager/

[2019-11-15 01:27] lcfrateschi opened #463 "Resize SCLAlertView after presented"
Is there a way to resize SCLAlertView height and width in real time?

Sorry for bad English.

Thanks.

[2019-11-16 17:03] JanC commented on #462
+1
It already works but the latest release does not include yet the `Package.swift`

[2019-12-02 12:43] accfews commented on #459
Try deleting any derived data, Carthage builds etc and retry

[2020-02-25 14:36] AdamLee321 commented on #227
I forked a branch that fixes this issue, and submitted a pull request that fixes this issue. Hopefully it will be accepted for you soon.

[2020-03-04 14:21] AAlboghdady commented on #443
any new?

[2020-03-05 14:02] justdan0227 opened #467 "Convenience Method for close button text"
Can we get a convenience method that would allow us to change the text of the close button from "Done" to "OK" without having to define an appearance property and add a button and handler when the handler does nothing?   Thanks

[2020-04-21 05:42] Shruti2208 opened #468 "How to change border color of textfield added in swift project?"

[2020-06-25 14:39] justdan0227 opened #470 "Can we get colorStyle: colorTextButton: to take UIColor or ColorLiterals?"
Is it possible to pass UIColor or ColorLiterals to colorStyle:  colorTextButton:  ?

[2020-07-06 21:05] arseniybanayev commented on #412
You can change it by supplying `colorStyle: ` in the `showEdit()` (or related) function.

[code]

Note that it takes a `UInt`, not a `UIColor`, so do you can do something like this:

[code]

[2020-07-15 16:35] justdan0227 opened #471 "Ability to create a keypad"
Does anyone have sample code of how you would create a simple 9 keypad dialog inside of alertview?

[2020-09-18 01:37] trapper- opened #472 "Can't add this via SPM"
I get an error when trying to add this package in Xcode 12.

https://github.com/vikmeup/SCLAlertView-Swift has no Package.swift manifest for version 0.8.1

[2020-09-18 03:22] trapper- commented on #472
I think it needs a tagged version *after* Package.swift was added

[2020-11-09 21:10] uddinr commented on #299
try this

[code]

[2020-11-12 15:56] theofficejackpot opened #473 "is v0.8 released in 2017 the latest?"
Sorry for ignorance on github, but I see changes made for Swift 5 and such, but when I do pod update, it stays on v0.8 from july 2017?  What am I missing?

[2020-12-15 03:12] ntnamk3 commented on #342
Tks

[2020-12-22 14:55] theofficejackpot opened #474 "Crash at UIApplication.shared.keyWindow! as UIWindow"
Hi, please help me add some code to prevent the crash at line 712 in SCLAlertView.swift

open func showTitle(_ title: String, subTitle: String, timeout: SCLTimeoutConfiguration?, completeText: String?, style: SCLAlertViewStyle, colorStyle: UInt?=0x000000, colorTextButton: UInt?=0xFFFFFF, circleIconImage: UIImage? = nil, animationStyle: SCLAnimationStyle = .topToBottom) -> SCLAlertViewResponder {

[2021-01-10 11:38] darkbit34 opened #475 "MultiTasking - iPad - Alert Unresponsive"
Sometimes changing the screen size on iPad, then in MultiTasking, the alert, once opened and after changing the screen size, becomes unresponsive, restoring the size in which the alert was opened, it returns responsive

[2021-03-24 14:21] learnwithgabbar opened #477 "Add ability to show alert without icon"

[2021-04-10 20:13] justdan0227 commented on #467
So this appears to have been added but this never closed.

You can now use completeText

alertView.showTitle(
            "Image URL", // Title of view
            subTitle: "Enter URL of Image.",
            timeout: nil, // String of view
            completeText: "CANCEL",
            style: .error
        )

[2021-04-10 20:13] #467 closed

[2021-04-10 20:19] justdan0227 commented on #470
Any update on this?

[2021-04-14 20:42] grantespo commented on #434
Note: Scrolling is possible:

You just need to add ScrollView as the alert's custom view:

Here's the heiarchy :
UIScrollView(x: y: width: height) -> ContentView -> The View(s) You want Scrollable Go Here

Just make sure you add Swift Anchors for your contentview and views you want scrollable:

Check out the article below, I achieved scrolling custom scubview by using the flow in the article, but

[2021-04-19 20:38] grantespo commented on #468
Call this:

`mycustomTextfield.layer.borderColor = MY_COLOR`

**after** you show the alert

[2021-05-12 12:16] fukemy commented on #68
?

[2021-05-12 13:29] raghavnaphade16 opened #478 "No outline button"
Please add buttons with outline borders

[2021-06-24 12:24] justdan0227 opened #479 "Attributed Text"
Is there a way to use attributed text if you wanted to bold a word in the message?

[2021-08-17 11:42] #479 closed

[2021-08-17 11:43] justdan0227 commented on #479
So sorry this should have been closed months ago

[2021-08-17 11:56] justdan0227 opened #489 "Readme needs updating"
Please update

**Use a custom subview instead of a subtitle**

section of the readme

[2021-09-06 16:18] justdan0227 commented on #387
Can we get this merged?

[2022-02-17 07:30] annicha commented on #473
Hi @theofficejackpot. I'm curious if you got to update to versions higher than v0.8?

[2022-05-20 10:19] CHENG-LIANG1 commented on #477
just set showCircularIcon to false

`        let appearance = SCLAlertView.SCLAppearance(
            kTitleFont: UIFont(name: "HelveticaNeue", size: 20)!,
            kTextFont: UIFont(name: "HelveticaNeue", size: 14)!,
            kButtonFont: UIFont(name: "HelveticaNeue-Bold", size: 14)!,
            showCloseButton: false,
            showCircularIcon: false,
            contentViewCornerRadiu

[2022-09-02 14:09] FazilButev opened #499 "com.apple.main-thread SCLAlertView.swift showHTMLTitle / showHTMLInfo"
My application is constantly crashing and it gives the logs I wrote below as an error.
I put firebase logs below. I would appreciate it if you could help.

Crashed: com.apple.main-thread
0  MSRS                           0x97044 showHTMLTitle + 1265 (SCLAlertView.swift:1265)
1  MSRS                           0x95a84 showHTMLInfo + 768 (SCLAlertView.swift:768)
2  MSRS                           0x2b